@model RelCategoryModel
@using NeoSistem.Trinnk.Web.Models

@using NeoSistem.Trinnk.Core.Web.Helpers
@using System.Diagnostics
@using NeoSistem.Trinnk.Web.Models.Home
@using NeoSistem.Trinnk.Web.Models.MemberShip
@using NeoSistem.Trinnk.Web.Models.Authentication
@using Trinnk.Entities.Tables.Members
@{
    Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";

}
@section headercontent{
    <script type="text/javascript">
        function check() {
            if ($('#Member_NewPasswordAgain').val() != $('#Member_NewPassword').val()) {
                alert("Yeni şifreler birbiriyle uyuşmuyor.");
                return false;
            }
        }
        $(document).ready(function () {

            var tabContent = $('[data-rel="tabcontent"]');
            var selectedSectorIDList = [];

            $('[data-rel="categorySelect"]').click(function () {
                var id = $(this).data('id');
                $('html, body').animate({ scrollTop: 150 }, 500);
                if (selectedSectorIDList[id] == undefined) {
                    selectedSectorIDList[id] = new Array();
                    $('[data-rel="tabcontent"]').each(function () {
                        $(this).removeClass("active");
                    });
                    loadCategoryById(id, true);
                } else {
                    $('[data-rel="tabcontent"]').each(function () {
                        $(this).removeClass("active");
                    });
                    $('#baa' + id + '').addClass('active');
                }
            });
        });

        //        function loadCategoryById(selectedCategoryID, status) {
        //            $('[data-rel="loading"]').show();

        //            $.ajax({
        //                url: '/Membership/GetCategories',
        //                data: { categoryID: Number(selectedCategoryID),
        //                    isActive: status
        //                },
        //                success: function (data) {
        //                    $('[data-rel="loading"]').hide();
        //                    $('[data-rel="dataContent"]').append(data);
        //                }, error: function (x) {
        //                    $('[data-rel="loading"]').hide();
        //                    $('[data-rel="dataContent"]').append('İstenmeyen Bir Hata Oluştu');
        //                }
        //            });
        //        }
    </script>
}


    <div class="row">
        <div class="col-xs-12">
            <h4 class="mt0">
                <span class="glyphicon glyphicon-user"></span>
                Aktivasyon İçin İlgilendiğiniz Sektörden
                Kategori Seçiniz

            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 col-md-8 pr">
            <div class="row hidden-xs">
                <div class="col-xs-12">
                    <ol class="breadcrumb breadcrumb-mt">
                        <li><a href="/">Anasayfa </a></li>
                        <li class="active">
                            Aktivasyon
                        </li>
                    </ol>
                </div>
            </div>
            <div class="well well-mt2">

                @using (Html.BeginForm("Aktivasyon", "Uyelik", FormMethod.Post, new { id = "activation", @class = "form-horizontal" }))
                {

                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-3 control-label">
                        Aktivasyon Kodu

                    </label>
                    <div class="col-sm-6 pr pr0">
                        @Html.TextBoxFor(c => c.ActivationCode, new Dictionary<string, object>
                            { { "class", "form-control" }, { "data-validation-engine", "validate[required]" }})
                            @Html.CheckBox("ReceiveEmail", true)<span style="font-size: 12px;">
                                &nbsp;&nbsp;Seçtiğim
                                sektörlerle ilgli gelişmeleri mail olarak almak istiyorum
                            </span>
                    </div>
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-primary">
                            Onayla

                        </button>
                    </div>
                </div>
                <div class="row">

                    <div class="tab-content col-xs-6 col-md-7 col-lg-8" data-rel="dataContent">
                    </div>
                </div>
                }

            </div>
        </div>
        @{CompanyDemandMembership model1 = new CompanyDemandMembership(); }
        @Html.Partial("LeftPanel",model1)
    </div>

