@model MembershipViewModel
@using NeoSistem.Trinnk.Web.Models

@using NeoSistem.Trinnk.Core.Web.Helpers
@using System.Diagnostics
@using NeoSistem.Trinnk.Web.Models.Home
@using NeoSistem.Trinnk.Web.Models.MemberShip
@using NeoSistem.Trinnk.Web.Models.Authentication
@using Trinnk.Entities.Tables.Members

@{
    Layout = "~/Views/Shared/_LayoutMainMaster.cshtml";
    //using NeoSistem.Trinnk.Web.Models
    //using Trinnk.Core
}
@section headercontent{
    <link rel="canonical" href="https://www.trinnk.com/Uyelik/SifremiUnuttum" />
    <meta name="description" content="trinnk.com kullanıcı, firma şifre yenileme sayfasıdır" />
}

    <div class="row" style="display: flex; justify-content: center; align-content: center;">
        <div class="col-sm-7 col-md-8 pr">
            <div>
                <div class="panel panel-default membership-panel">
                    <div class="panel-heading" style="padding:10px">
                        <h1 style="font-size: 24px!important;">Şifremi Unuttum</h1>
                    </div>

                    <div class="panel-body">
                        @if ((int)ViewData["ProcessType"] == (int)NeoSistem.Trinnk.Web.Controllers.RememberPasswordProcessType.ShowSendMailForm)
                        {
                        Html.RenderPartial("sendNewPasswordLink", Model);
                        
                        }
                        else if ((int)ViewData["ProcessType"] == (int)NeoSistem.Trinnk.Web.Controllers.RememberPasswordProcessType.ShowSuccesSendMail)
                        {
                        Html.RenderPartial("SendMailSucces");
                        

                        }
                        else if ((int)ViewData["ProcessType"] == (int)NeoSistem.Trinnk.Web.Controllers.RememberPasswordProcessType.ShowReCreatePasswordForm)
                        {
                        Html.RenderPartial("reCreatePassword", Model);

                        
                        }
                        else if ((int)ViewData["ProcessType"] == (int)NeoSistem.Trinnk.Web.Controllers.RememberPasswordProcessType.FailReCreatePassword)
                        {
                        <span>Kullanıcı Bulunmadı</span>
                         }
                        else if ((int)ViewData["ProcessType"] == (int)NeoSistem.Trinnk.Web.Controllers.RememberPasswordProcessType.ShowSuccesChangePassword)
                        {
                        <h4>Şifrenizi Başarılı Bir Şekilde Değiştirdiniz.</h4>
                        <br />
                        <h4>
                            Giriş yapmak için <a href="http://www.trinnk.com/">tıklayınız.</a>
                        </h4>
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

