@model dynamic
@using NeoSistem.Trinnk.Web.Models

@using NeoSistem.Trinnk.Core.Web.Helpers
@using System.Diagnostics
@using NeoSistem.Trinnk.Web.Models.Home
@using NeoSistem.Trinnk.Web.Models.MemberShip
@using NeoSistem.Trinnk.Web.Models.Authentication
@using Trinnk.Entities.Tables.Members

@{
    // Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
    //using NeoSistem.Trinnk.Web.Models
    //using Trinnk.Core
}


<h4>
    Yeni şifre tanımlama linki e-postanıza gönderilmiştir.
</h4>