@model MembershipViewModel
@using NeoSistem.Trinnk.Web.Models

@using NeoSistem.Trinnk.Core.Web.Helpers
@using System.Diagnostics
@using NeoSistem.Trinnk.Web.Models.Home
@using NeoSistem.Trinnk.Web.Models.MemberShip
@using NeoSistem.Trinnk.Web.Models.Authentication
@using Trinnk.Entities.Tables.Members

@{
    // Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
    //using NeoSistem.Trinnk.Web.Models
    //using Trinnk.Core
}


@Html.ValidationSummary(true, "", new Dictionary<string, object> { { "class", "alert alert-danger alert-dismissable" } })
@using (Html.BeginForm("ForgettedPassowrd", "Membership", FormMethod.Post, new { id = "", @class = "form-horizontal", @role = "form" }))
{
    <input type="hidden" name="MembershipType" data-rel="MembershipType" value="10" />
    <div class="form-group">
        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.MembershipModel.MemberEmail, new Dictionary<string, object> { { "placeholder", "örn: info@trinnk.com" }, { "required", "true" }, { "class", "mt-form-control" }, { "type", "email" }, { "id", "DestinationEmail" } })
        </div>

    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <div class="alert alert-danger alert-dismissable" id="EmailError" style="display:none;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;
                </button>
                Sistemimize kayıtlı böyle bir mail adresi bulunamadı.
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <button class="btn btn-sign-up" id="btnLogin" type="submit">Mail Gönder</button>

        </div>
    </div>
}