@model NeoSistem.MakinaTurkiye.Management.Models.WebSiteErrorCreateModel
@section TitleContent {

            @{ string title = "  Site Sorun Ekle";
        if (Request.QueryString["type"] != null)
        {
            title = "Site Öneri Ekle";
        }
            } 
    @title

}
@section HeadContent {

  <script type="text/javascript" src="~/Content/Scripts/CKEditor/ckeditor.js"></script>
  <script type="text/javascript" src="~/Content/Scripts/CKFinder/ckfinder.js"></script>


}



      @using (Html.BeginForm("ErrorCreate","Help",FormMethod.Post,new {@enctype="multipart/form-data" }))
          { 
               @Html.Partial("_ErrorFormModel", Model) 
      } 
 </div>



