<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="TrinnkConfig" type="Trinnk.Core.Configuration.TrinnkConfig, Trinnk.Core" requirePermission="false" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--Canlı Veritabanı-->
    <add name="TrinnkDatabaseConnString" connectionString="Data Source=45.155.125.111,1453;Initial Catalog=MT;User ID=sa;Password=m4k!n+3^05trk,3;MultipleActiveResultSets=True;Integrated Security=False;" providerName="System.Data.SqlClient" />
    <!--Canlı Veritabanı Son-->
    <!--Test Veritabanı-->
    <!--<add name="TrinnkDatabaseConnString" connectionString="Data Source=45.155.125.111,1453;Initial Catalog=TrinnkAdminTest;User ID=makinaturkey;Password=m4k!n+3^05trk,3;MultipleActiveResultSets=True;Integrated Security=False;" providerName="System.Data.SqlClient" />-->
    <!--Test Veritabanı Son-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="MSSQLLocalDB" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="Token:Sifre-Key" value="AYCTHSHSDSLSFLSDhjfKDAJFLKAS!DAS" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ApiGorev-ZamanlayiciTmpGorev:Zaman" value="15" />
    <!--Mobil Api için eklendi-->
    <add key="ElasticSearch:IpAdresListesi" value="localhost,127.0.0.1" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="AssetMinification" value="on" />
    <add key="SaveAnyOtherFile" value="~/UserFiles/OtherFile/" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ImageFolder" value="~/Content/Images/" />
    <add key="ContentFolder" value="~/Content/" />
    <add key="ScriptFolder" value="~/Scripts/" />
    <add key="UserImageFolder" value="~/UserFiles/images/" />
    <add key="CssFolder" value="~/Content/" />
    <add key="SecurityKey" value="NeoSistemAXD" />
    <add key="SectorId" value="0" />
    <add key="MainPageNewsCount" value="8" />
    <add key="MainPageStoreCount" value="12" />
    <add key="MainPageCategoryTopRecordCount" value="20" />
    <add key="CategoryProductSearchType" value="1" />
    <add key="MessageFileFolder" value="/UserFiles/MessageFiles/" />
    <add key="StoreLogoFolder" value="/UserFiles/Images/StoreLogo/" />
    <add key="StoreBannerFolder" value="/UserFiles/StoreBanner/" />
    <add key="owin:AppStartup" value="NeoSistem.Trinnk.Web.App_Start.Startup, NeoSistem.Trinnk.Web" />
    <add key="CategoryIconImageFolder" value="/UserFiles/Images/CategoryIconImageFolder/" />
    <add key="ProductImageFolder" value="/UserFiles/Product/" />
    <add key="StoreLogoThumb75x75Folder" value="/UserFiles/Images/StoreLogoThumb75x75/" />
    <add key="StoreLogoThumb150x90Folder" value="/UserFiles/Images/StoreLogoThumb150x90/" />
    <add key="StoreLogoThumb110x110Folder" value="/UserFiles/Images/StoreLogoThumb110x110/" />
    <add key="StoreLogoTProductImageFolderhumb55x40Folder" value="/UserFiles/Images/StoreLogoThumb55x40/" />
    <add key="StoreLogoThumb170x90Folder" value="/UserFiles/Images/StoreLogoThumb170x90/" />
    <add key="StoreLogoThumb200x100Folder" value="/UserFiles/Images/StoreLogoThumb200x120/" />
    <add key="StoreLogoThumb100x100Folder" value="/UserFiles/Images/StoreLogoThumb100x100/" />
    <add key="StoreLogoThumb300x200Folder" value="/UserFiles/Images/StoreLogoThumb300x200/" />
    <add key="ResizeStoreLogoFolder" value="/UserFiles/Store/" />
    <add key="StoreLogoThumbSizes" value="300x200;100x100;120x80" />
    <add key="StoreProfilePicture" value="/UserFiles/Images/StoreProfilePicture/" />
    <add key="ProductImageThumb55x40Folder" value="/UserFiles/Images/ProductThumb55x40/" />
    <add key="ProductImageThumb240x160Folder" value="/UserFiles/Images/ProductThumb240x160/" />
    <add key="ProductImageThumb800x600Folder" value="/UserFiles/Images/ProductThumb800x600/" />
    <add key="ProductImageThumb75x75Folder" value="/UserFiles/Images/ProductThumb75x75/" />
    <add key="ProductImageThumb120x120Folder" value="/UserFiles/Images/ProductThumb120x120/" />
    <add key="StoreDealerImageFolder" value="/UserFiles/Images/StoreDealerImage/" />
    <add key="StoreImageFolder" value="/UserFiles/Images/StoreImage/" />
    <add key="StoreSliderImageFolder" value="/UserFiles/Images/StoreSliderImage/" />
    <add key="StoreCertificateImageFolder" value="/UserFiles/Images/StoreCertificateImageFolder/" />
    <add key="DealerBrandImageFolder" value="/UserFiles/Images/DealerBrandImage/" />
    <add key="StoreBrandImageFolder" value="/UserFiles/Images/StoreBrandImage/" />
    <add key="StoreProfilePicture" value="/UserFiles/Images/StoreProfilePicture/" />
    <add key="StoreNewImageFolder" value="/UserFiles/StoreNewImage/" />
    <add key="StoreNewImageSize" value="300x300;600x350;100x100" />
    <add key="BaseMenuImageFolder" value="/BaseMenuImages/" />
    <add key="ProductThumbSizes" value="*x980;500x375;160x120;100x75;200x150;400x300;900x675;100x*" />
    <add key="StoreCatologFolder" value="/UserFiles/StoreCatolog" />
    <add key="ProductCatologFolder" value="/UserFiles/ProductCatolog" />
    <add key="NewVideosFolder" value="/UserFiles/NewVideos/" />
    <add key="VideoFolder" value="/UserFiles/Video/" />
    <add key="VideoThumbnailFolder" value="/UserFiles/VideoThumb/" />
    <add key="TempFolder" value="/UserFiles/Temp/" />
    <add key="NewsImageFolder" value="/UserFiles/Images/News/" />
    <add key="ffmpegFolder" value="/Content/ffmpeg/" />
    <add key="EnterpriseDataCacheTimeOut" value="2000" />
    <add key="Turkiye" value="246" />
    <add key="İstanbul" value="34" />
    <add key="SiteUrl" value="https://www.trinnk.com/" />
    <!--<add key="SiteUrl" value="http://localhost:35882/" />-->
    <!--<add key="SiteUrlWithoutLastSlash" value="http://localhost:35882" />
    <add key="SiteAllCategoryUrl" value="/urun-kategori-c-0" />
    <add key="SiteAllNewUrl" value="/StoreNew/Index" />
    <add key="VideoUrlBase" value="/videolar" />
    <add key="StoreAllUrl" value="/sirketler" />
    <add key="RssProductViewedCount" value="20" />
    <add key="RssFirmViewedCount" value="20" />
    <add key="BannerImagesFolder" value="/UserFiles/Banner/Images/" />
    <add key="BannerImagesThumbFolder" value="/UserFiles/Banner/ImagesThumb/" />
    <add key="BannerGifFolder" value="/UserFiles/Banner/Gif/" />
    <add key="BannerFlashFolder" value="/UserFiles/Banner/Flash/" />
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="SmtpUserName" value="bilgi@www.trinnk.com" />
    <add key="SmtpUserPassword" value="haciosman7777" />
    <add key="SmtpPort" value="587" />
    <add key="MailAddress" value="bilgi@www.trinnk.com" />
    <add key="MailName" value="www.trinnk.com" />
    <add key="PreserveLoginUrl" value="true" />-->
    <add key="SmsKno" value="22217" />
    <add key="smsKadi" value="905326508841" />
    <add key="smsSifre" value="41ziMA88" />
    <add key="smsObj" value="Anexxa Ltd." />
    <add key="Mail-Host" value="smtp.gmail.com" />
    <add key="Mail-UserName" value="trinnk@trinnk.com" />
    <add key="Mail-Password" value="haciosman7777" />
    <add key="Mail-Ssl" value="true" />
    <add key="Mail-Port" value="587" />
    <add key="Mail-DisplayName" value="trinnk.com" />
    <!--<add key="IyzicoApiKey" value="5ExV5Qbp9BepORLEeZzJvhTf9c3Nqb9W" />
    <add key="IyzicoSecureKey" value="kS6q2sUb3wvrlNntITEHOlZkGc2NTDst" />
    <add key="PaytrApiMerchantId" value="131269" />
    <add key="PaytrApiMerchantKey" value="3W3NdLTQqg7t6ZMb" />
    <add key="PaytrApiMerchantSalt" value="PKW4rw6T4EYaSPC4" />
    <add key="PaytrApiEmail" value="osmanhaciosmanoglu@gmail.com" />-->
    <add key="aspnet:MaxJsonDeserializerMembers" value="10000" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	
  <system.web>
    <compilation targetFramework="4.8" debug="true" />
	  <httpRuntime  targetFramework="4.5" maxRequestLength="500000" executionTimeout="120" />
	  <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
    </httpModules>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Remove www" stopProcessing="true">
          <match url="(.*)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^www\.(.+)$" />
          </conditions>
          <action type="Redirect" url="http://{C:1}/{R:0}" appendQueryString="true" redirectType="Permanent" />
        </rule>
        <!--<rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>-->
      </rules>
      <!--<outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000" />
        </rule>
      </outboundRules>-->
    </rewrite>
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.4.0.0" newVersion="6.4.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="J2N" publicKeyToken="f39447d697a969af" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.2" newVersion="6.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StackExchange.Redis.StrongName" publicKeyToken="c219ff1ca8c2ce46" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.7.0" newVersion="1.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options.ConfigurationExtensions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Elasticsearch.Net" publicKeyToken="96c599bbe3e70f5d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Http.Features" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.17.0" newVersion="5.0.17.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Net.Http.Headers" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.8.0" newVersion="2.2.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.3" newVersion="6.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <TrinnkConfig>
    <Compress Enabled="True" />
    <Caching Enabled="True" AllOperationEnabled="True" GetOperationEnabled="True" SetOperationEnabled="True" RemoveOperationEnabled="True" />
    <RedisCaching Enabled="True" ConnectionString="localhost" />
    <Application TestModeEnabled="false" LogEnabled="false" StartingTasksEnabled="False" />
    <EntityFramework LazyLoadingEnabled="False" ProxyCreationEnabled="False" AutoDetectChangesEnabled="True" ValidateOnSaveEnabled="False" />
    <Product DescriptionHtmlClear="true">
    </Product>
  </TrinnkConfig>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>