/* ============================== PRODUCT ====================================== */

.contentWrapper, .topBand, .listHeader, .tableHeader, .tableContent, .tableFooter
{
  width: 770px;
  float: left;
}
.topBand, .listHeader, .tableHeader, .tableContent, .tableContent, .tableFooter
{
  height: 30px;
  background-color: #a4c8de;
}
.listHeader
{
  height: 48px;
  background-color: #EBEBEB;
}
.listHeader .listContent
{
  margin: 13px 10px 0px 5px;
  font-size: 10px;
  float: left;
  height: 13px;
  width: 700px;
}
.listHeader .listContent a
{
  color: #000;
  text-decoration: none;
  margin-left: 3px;
  display: inline-block;
}
.listHeader .listContent span
{
  display: inline-block;
  float: left;
  margin-left: 3px;
}

.listPaging ul, .tableHeader ul, .tableContent ul
{
  float: left;
  display: inline-block;
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: 2px;
}

.listPaging ul li, .tableHeader ul li, .tableContent ul li
{
  float: left;
  display: inline-block;
  margin: 0 2px 0 2px;
}

.tableHeader, .tableContent
{
  background-color: #EBEBEB;
  font-size: 12px;
  height: 22px;
}

.tableHeader ul li, .tableContent ul li
{
  font-weight: 700;
  color: #003366;
  height: 18px;
  padding-top: 2px;
  text-align: center;
  margin: 0px;
}

.tableHeader ul li.sep, .tableContent ul li.sep
{
  width: 2px;
  background-color: #FFF;
  padding-top: 0px;
}

.tableContent
{
  margin-top: 0px;
  width: 713px;
  height: auto;
  background-color: #FFF;
  border: 1px solid #d9e7f1;
}

.tableContent ul, .tableContent ul.alternate
{
  height: auto;
  width: 713px;
}
.tableContent ul.alternate
{
  background-color: #ccebee;
}

.tableContent ul li.sep
{
  background-color: #cbdeeb;
  padding-left: 0px;
  height: 69px;
}

.tableContent ul li
{
  font-weight: normal;
  text-align: left;
  height: auto;
}
.tableContent span
{
  display: inline-block;
  margin-left: 3px;
}
.tableFooter
{
  background-color: #b1cee0;
  font-size: 11px;
}
.tableFooter div.text
{
  display: inline-block;
  margin: 7px;
  height: 19px;
}
.leftArrow, .rightArrow
{
  background-image: url('/content/images/leftArrow.png');
  background-repeat: no-repeat;
  height: 20px;
  width: 9px;
  float: left;
  cursor: pointer;
  margin-left: 2px;
}
.rightArrow
{
  background-image: url('/content/images/rightArrow.png');
}
.goPage
{
  border: none;
  background-image: url('/content/images/goPage.png');
  background-repeat: no-repeat;
  height: 17px;
  float: right;
  width: 21px;
}

.gotext
{
  width: 23px;
  height: 14px;
  border: 1px solid #dbe9ef;
  font-size: 11px;
}
