@model NeoSistem.MakinaTurkiye.Management.Models.Entities.Dictionary

@section TitleContent {

	Create

}
@section HeadContent {

@*<script src="http: //code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="~/Content/Scripts/CKEditor/ckeditor.js"></script>
  <script type="text/javascript" src="~/Content/Scripts/CKFinder/ckfinder.js"></script>*@

}


  <script type="text/javascript">
   
  </script>
  <input id="activeText" type="hidden" value="" />
   @using (Html.BeginForm("Create", "Dictionary", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        
        <fieldset>
            <legend>Ekle</legend>
            <div class="editor-label" style="margin:20px;">
            <span style="color:#868686; font-family:Arial; font-size:14px;">
              Kısa Adı 
              <br />
              </span>
            </div>
            <div class="editor-field" style="margin-left:20px;">
                @Html.TextBoxFor(model => model.DicShortName, new { style = "width: 300px;border: solid 1px #bababa;" })
            </div>
            <div class="editor-label" style="margin-left:20px; margin-top:15px;color:#868686; font-family:Arial; font-size:14px;">
                Açıklama
            </div>
               <div class="editor-field" style="margin-left:20px;">
                @Html.TextAreaFor(model => model.DicDescription, new { style = "width: 300px;border: solid 1px #bababa;" })
            </div>
            <p>
                <input type="submit" value="Ekle" />
            </p>
        </fieldset>

     } 
         <script type="text/javascript" defer="defer">
           var editor = CKEDITOR.replace('MessagesMTPropertie', { toolbar: 'webtool' });
           CKFinder.SetupCKEditor(editor, '/Scripts/CKFinder/');
  </script>



