
.forum_ic_cerceve
{
  height: auto;
  width: 568px;
  margin-right: 10px;
  margin: 0px auto;
}
.forum_ic_cerceve_1
{
}

.forum_ic_cerceve_1_1
{
  font-family: Segoe UI, Arial;
  font-size: 12px;
  color: #4C4C4C;
  padding-left: 20px;
  padding-right: 10px;
  width: 130px;
  height: 20px;
  float: left;
  text-align: right;
  padding-top: 3px;
  margin-top: 4px;
}
.forum_ic_cerceve_1_2
{
  float: left;
  height: auto;
  width: auto;
  margin-top: 4px;
}
.forum_ic_cerceve_1_3
{
  float: left;
  height: auto;
  width: auto;
  padding-left: 10px;
}
.forum_ic_cerceve_1_4
{
  font-family: Segoe UI, Arial;
  font-size: 12px;
  color: #4C4C4C;
  padding-right: 10px;
  width: 130px;
  height: 22px;
  float: left;
  text-align: right;
  padding-top: 4px;
  margin-top: 6px;
  padding-left: 20px;
}
.forum_ic_cerceve_1_5
{
  float: left;
  height: auto;
  width: 283px;
  margin-top: 4px;
}
.forum_ic_cerceve_1_6
{
  float: left;
  height: auto;
  margin-top: 4px;
  width: auto;
}
.forum_ic_cerceve_1_7
{
  float: left;
  height: auto;
  margin-top: 4px;
  width: 560px;
}
.forum_ic_cerceve_2
{
  height: auto;
  width: auto;
  padding-left: 180px;
}
.forum_ic_cerceve_2_1
{
  width: 200px;
  height: 22px;
  text-align: center;
  background-color: #75A8CA;
  border: 5px double #366F81;
  font-family: Segoe UI, Arial;
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  padding-top: 2px;
}
.forum_yazi_1
{
  font-family: Segoe UI, Arial;
  font-size: 11px;
  color: #FF0000;
}
.forum_yazi_2
{
  font-family: Segoe UI, Arial;
  font-size: 11px;
  color: #FF0000;
  text-decoration: underline;
}
.forum_yazi_3
{
  font-family: Segoe UI, Arial;
  font-size: 10px;
  color: #4C4C4C;
  height: auto;
  width: auto;
  padding-top: 8px;
  padding-bottom: 8px;
}
.forum_yazi_4
{
  font-family: Segoe UI, Arial;
  font-size: 12px;
  color: #4C4C4C;
}
.forum_yazi_5
{
  font-family: Segoe UI, Arial;
  font-size: 10px;
  color: #4C4C4C;
  height: auto;
  width: auto;
}
.forum_yazi_6
{
  font-family: Segoe UI, Arial;
  font-size: 10px;
  color: #4C4C4C;
  height: auto;
  width: auto;
  padding-left: 160px;
}
.forum_yazi_7
{
  font-family: Segoe UI, Arial;
  font-size: 14px;
  color: #4C4C4C;
  height: auto;
  width: auto;
  padding-left: 160px;
  font-weight: bold;
}

.forum_yazi_div
{
  float: left;
  height: auto;
  width: auto;
  margin-left: 10px;
  margin-top: 6px;
  margin-right: 10px;
}
input
{
  border-top-width: 2px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #99D6DD;
  border-right-color: #99D6DD;
  border-bottom-color: #99D6DD;
  border-left-color: #99D6DD;
}
select
{
  border-top-width: 2px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #99D6DD;
  border-right-color: #99D6DD;
  border-bottom-color: #99D6DD;
  border-left-color: #99D6DD;
}

.forum_input
{
  height: 22px;
  width: 22px;
  margin: 0px;
  padding: 0px;
  float: left;
}
.forum_input_2
{
  width: 202px;
  height: auto;
  margin-top: 4px;
  float: left;
}

.forum_input_3
{
  float: left;
  margin-top: 4px;
  width: 79px;
}
.forum_input_4
{
  float: left;
  margin-top: 4px;
  width: 198px;
}
.forum_input_5
{
  float: left;
  width: 65px;
  margin-top: 4px;
}
.forum_input_6
{
  float: left;
  width: 30px;
  margin-top: 4px;
  margin-right: 10px;
  text-align: center;
}
.forum_input_7
{
  float: left;
  width: 110px;
  margin-top: 4px;
  margin-right: 10px;
}
.gizli_bos
{
  clear: both;
  margin-top: 10px;
  margin-bottom: 20px;
}
.cizgi1
{
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #99D6DD;
  float: left;
  height: 1px;
  width: 570px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cizgi2
{
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #99D6DD;
  float: left;
  height: 1px;
  width: 570px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.cizgi3
{
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #99D6DD;
  float: left;
  height: 1px;
  width: 570px;
  margin-top: 10px;
}
.orta_baslik2_1
{
  font-family: Segoe UI, Arial;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  float: left;
  height: auto;
  width: auto;
}
.orta_baslik2_2
{
  font-family: Segoe UI, Arial;
  font-size: 11px;
  font-weight: bold;
  color: #FF0000;
  text-decoration: none;
  float: right;
  height: auto;
  width: auto;
  padding-right: 10px;
  padding-top: 8px;
}


.orta_baslik2_3
{
  font-family: Segoe UI, Arial;
  font-size: 11px;
  color: #FF0000;
  text-decoration: none;
  height: auto;
  width: auto;
  float: left;
  margin-top: 8px;
}
.orta_baslik2_4
{
  float: right;
  height: auto;
  width: 275px;
  text-align: right;
}


.hesabim_sol_menu2
{
  background-image: url(../images/hesabim_menu.png);
  background-repeat: repeat-x;
  float: left;
  height: auto;
  width: 178px;
  margin-right: 20px;
  border: 1px solid #B1CEE1;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.hesabim_baslik2
{
  font-family: Segoe UI, Arial;
  font-size: 14px;
  font-weight: bold;
  color: #4C4C4C;
  padding-left: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.hesabim_link2_1
{
  font-family: Segoe UI, Arial;
  font-size: 12px;
  color: #0769CD;
  padding-top: 3px;
  padding-left: 45px;
}

.hesabim_link2_1 a
{
  text-decoration: none;
  color: #0769CD;
}
.hesabim_link2_1 a:hover
{
  color: #0769CD;
  text-decoration: none;
}
.hesabim_link2 a
{
  color: #0769CD;
  text-decoration: none;
}
.hesabim_link2 a:hover
{
  color: #0769CD;
  text-decoration: none;
}
.hesabim_link2_2 a
{
  color: #4C4C4C;
  text-decoration: none;
}
.hesabim_link2_2 a:hover
{
  color: #4C4C4C;
  text-decoration: none;
}


.hesabim_link2_2
{
  font-family: Segoe UI, Arial;
  font-size: 12px;
  color: #4C4C4C;
  padding-top: 3px;
  padding-left: 30px;
}
.hesabim_yazi_2
{
  font-family: Segoe UI, Arial;
  font-size: 12px;
  color: #879A9E;
}


.orta_baslik2
{
  padding-bottom: 5px;
  float: none;
  height: auto;
  width: auto;
  padding-left: 20px;
  margin-bottom: 35px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #99D6DD;
  padding-top: 5px;
}
.hesabim_link2
{
  font-family: Segoe UI, Arial;
  font-size: 12px;
  color: #0769CD;
  padding-left: 30px;
}
