 .searchMenu
  {
    width: 111px;
    height: 22px;
    text-align: center;
    font-size: 12px;
    color: #30337d;
    float: left;
    padding-top: 8px;
    cursor: pointer;
  }
  .searchMenuActive
  {
    width: 111px;
    height: 21px;
    background-image: url('/Content/Images/searchMenuActive.png');
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    float: left;
    padding-top: 9px;
    text-align: center;
    cursor: pointer;
  }
  .detailedSearch
  {
    width: 968px;
    border: solid 1px #bababa;
    border-top: none;
    height: 250px;
    background-color: #f8f8f8;
    position: absolute;
    float: left;
    margin-left: -5px;
    margin-top: 39px;
    z-index: 1;
    display: none;
  }