################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NeoSistem.MakinaTurkiye/v15/Server/sqlite3

