@model MembershipViewModel
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models
@using NeoSistem.MakinaTurkiye.Web.Models

@using NeoSistem.MakinaTurkiye.Core.Web.Helpers
@using NeoSistem.MakinaTurkiye.Web.Helpers
@using System.Diagnostics
@using NeoSistem.MakinaTurkiye.Web.Models.Home
@using NeoSistem.MakinaTurkiye.Web.Models.MemberShip
@using NeoSistem.MakinaTurkiye.Web.Models.Authentication
@using MakinaTurkiye.Entities.Tables.Members
@using NeoSistem.MakinaTurkiye.Web.Models.ViewModels
@using NeoSistem.MakinaTurkiye.Web.Models.Products
@using NeoSistem.MakinaTurkiye.Web.Models.Catalog
@using NeoSistem.MakinaTurkiye.Web.Models.Entities
@using NeoSistem.MakinaTurkiye.Web.Models.ProductRequests
@using NeoSistem.MakinaTurkiye.Web.Models.Stores
@using NeoSistem.MakinaTurkiye.Core.Web
@using NeoSistem.MakinaTurkiye.Web.Models.StoreNews
@using System.Globalization
@using NeoSistem.MakinaTurkiye.Web.Models.StoreProfiles
@using NeoSistem.MakinaTurkiye.Web.Models.Videos
@using NeoSistem.MakinaTurkiye.Web.Models.Adverts
@using MakinaTurkiye.Entities.Tables.Catalog
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.Advert
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.FavoriteProducts

@{
    Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutMainMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutStoreProfileMaster.cshtml";


}

@section headercontent{
    <style>
        .page-header {
            margin: 10px 0 20px;
        }

        label .required {
            font-weight: bold;
            color: #de1b1b;
        }
    </style>
}


<div class="row">
    <div class="col-sm-12 col-md-12 store-panel-menu-header" style="">
        @{
            NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.LeftMenuModel lefMenu = (NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.LeftMenuModel)ViewData["leftMenu"];
        }
        @Html.Partial("LeftMenu", lefMenu)
    </div>
    <div class="col-md-12">
        <h4 class="mt0 text-info">
            Kurumsal Üyelik
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <div class="well store-panel-container">
                <h4>Kişisel Bilgiler</h4>
                @using (Html.BeginForm("InstitutionalStep", "MemberType", FormMethod.Post, new { id = "formFastMembership", @class = "form-horizontal", @role = "form" }))
                {
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">
                            Yetkili Ünvanı
                        </label>
                        <div class="col-sm-6">
                            @Html.DropDownListFor(model => model.MembershipModel.StoreAuthorizedTitleType,
                            Model.MembershipModel.StoreAuthorizedTitleTypeItems,
                            new Dictionary<string, object> { { "class", "form-control" }, { "data-validation-engine", "validate[funcCall[ifSelectNotEmpty]]" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button class="btn btn-primary" data-rel="form-submit" type="submit">
                                Devam Et
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


