@model FilterModel<NeoSistem.MakinaTurkiye.Management.Models.MemberDescriptionCountModel>

@section TitleContent {

    Tarihe Göre Atama Sayıları

}
@section HeadContent {
    <script type="text/javascript">
        function PagingNotCount(curentpage)
        {
            bilgimesajver();
            $.ajax({
                url: '/MemberDescription/NotificationCount',
                data: {
                    CurrentPage: curentpage
                },
                type: 'post',
                success: function (data) {
                    $("#table").html(data);
                    allMessageClose();

                },
                error: function (x, a, r) {
                    alert("Error");

                }
            });
        }
    </script>
}

    <div class="ui-state-highlight ui-corner-all loadingContent ui-helper-hidden" style="margin-top: 200px; border-width: 5px;"
        id="preLoading">
        <span style="float: left; margin-right: 0.3em" class="ui-icon ui-icon-info"></span>
        <strong>Yükleniyor.</strong> Lütfen bekleyiniz...
    </div>
    <div style="width: 100%; margin: 0 auto;">
        <table cellpadding="5" cellspacing="0" class="TableList" style="width: 100%; margin-top: 5px">
            <thead>
                <tr>
                    <td class="Header HeaderBegin">#
                    </td>
                    <td class="Header ">Tarih
                    </td>

                    <td class="Header ">Toplam Adet
                    </td>
                    @{var member = Model.Source.FirstOrDefault(); }
                    @foreach (var item in member.Usercounts.OrderBy(x=>x.UserName).ToList())
                        {
                    
                    <td class="Header">
                        @item.UserName
                    </td>
                      } 
                </tr>
            </thead>
            <tbody id="table">
                @Html.Partial("_NotificationCountList",Model)
            </tbody>
        </table>
    </div>




