@model FilterModel<NeoSistem.Trinnk.Management.Models.PreRegistrations.PreRegistrationItem>

@section TitleContent {

    Ön Kayıtlı Firmalar
}

@section HeadContent {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.Search').keyup(function (e) {
                if (e.keyCode == 13) {
                    SearchPost();
                }
            });
        });
        function DeletePost(id) {
            if (confirm('Kaydı Silmek istediğinizden eminmisiniz ?')) {

                $.ajax({
                    url: '/PreRegistrationStore/Delete',
                    data: {
                        ID: id
                    },
                    type: 'post',
                    success: function (data) {
                        $("#row_" + id).hide();

                    },
                    error: function (x, a, r) {


                    }
                });
            }
        }
        function PagingPost(page) {
            $("#Page").val(page);
            SearchPost();
        }

        $('.Search').keyup(function (e) {
            if (e.keyCode == 13) {
                SearchPost();
            }
        });

        function SearchPost() {
            bilgimesajver();
            $.ajax({
                url: '/PreRegistrationStore/Index',
                data: {
                    storeName: $("#StoreName").val(),
                    page: $('#Page').val(),
                    email: $('#Email').val(),
                    city: $('#City').val(),
                    user: $("#UserListId").val()
                },
                type: 'post',
                success: function (data) {
                    $('#table').html(data);
                    allMessageClose();
                },
                error: function (x, a, r) {
                    allMessageClose();
                }
            });
        }
    </script>
    <link rel="stylesheet" href="~/content/Scripts/SuperBox/jquery.superbox.css" type="text/css" media="all" />
  <script type="text/javascript" src="~/Content/Scripts/SuperBox/jquery.superbox-1.js"></script>
  <script type="text/javascript">
	 $(function () {
		$.superbox.settings = {
		  closeTxt: "Kapat",
		  loadTxt: "Yükleniyor...",
		  nextTxt: "Sonraki",
		  prevTxt: "Önceki"
		};
		$.superbox();
	 });
	 </script>
		<style type="text/css">
		/* Custom Theme */
		#superbox-overlay{background:#e0e4cc;}
		#superbox-container .loading{width:32px;height:32px;margin:0 auto;text-indent:-9999px;background:url(styles/loader.gif) no-repeat 0 0;}
		#superbox .close a{float:right;padding:0 5px;line-height:20px;background:#333;cursor:pointer;}
		#superbox .close a span{color:#fff;}
		#superbox .nextprev a{float:left;margin-right:5px;padding:0 5px;line-height:20px;background:#333;cursor:pointer;color:#fff;}
		#superbox .nextprev .disabled{background:#ccc;cursor:default;}
	</style>

}

    @Html.HiddenFor(x=>x.CurrentPage, new {@id="Page" })
    @if (TempData["ErrorMessage"] != null) {
        <p style="color:#ac0b0b">@TempData["ErrorMessage"].ToString()</p>
     } 
    <div class="ui-state-highlight ui-corner-all loadingContent ui-helper-hidden" style="margin-top: 200px; border-width: 5px;"
        id="preLoading">
        <span style="float: left; margin-right: 0.3em" class="ui-icon ui-icon-info"></span>
        <strong>Yükleniyor.</strong> Lütfen bekleyiniz...
    </div>
    <div style="width: 100%; margin: 0px;">
        <button style="margin-top: 10px;" onclick="window.location='/PreRegistrationStore/Create'">Yeni Ekle</button>
        <table cellpadding="5" cellspacing="0" class="TableList" style="width: 100%; margin-top: 5px">
            <thead>
                <tr>
                    <td class="Header HeaderBegin">#</td>
                    <td class="Header" style="width:200px;">
                        Firma Adı
                    </td>
                    <td class="Header">
                        Yetkili Adı/Soyadı
                    </td>
                    <td class="Header">
                        Email
                    </td>
                    <td class="Header">
                        Telefon Numarası
                    </td>
                    <td class="Header">Diğer Telefon</td>
                    <td class="Header">Web Adresi</td>
                    <td class="Header">Ülke - Şehir - İlçe</td>
                    <td class="Header">Tarih</td>
                    <td class="Header">Kullanıcı</td>
                    <td class="HeaderEnd"></td>
                </tr>
                <tr style="background-color: #F1F1F1">
                    <td class="CellBegin" align="center"></td>
                    <td class="Cell">
                        <table border="0" cellspacing="0" cellpadding="0" style="width: 100%">
                            <tbody>
                                <tr>
                                    <td style="border: solid 1px #CCC; background-color: #FFF;">
                                        <input id="StoreName" class="Search" style="width: 75%; border: none;" />
                                        <span class="ui-icon ui-icon-close searchClear" style="width: 15%;"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="Cell"></td>
                    <td class="Cell">
                        <table>
                            <tbody>
                                <tr>
                                    <td style="border: solid 1px #CCC; background-color: #FFF;">
                                        <input id="Email" class="Search" style="width: 75%; border: none;" />
                                        <span class="ui-icon ui-icon-close searchClear" style="width: 15%;"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="Cell"></td>
                    <td class="Cell"></td>
                    <td class="Cell"></td>
                    <td class="Cell">
                        <table>
                            <tbody>
                                <tr>
                                    <td style="border: solid 1px #CCC; background-color: #FFF;">
                                        <input id="City" class="Search" style="width: 75%; border: none;" />
                                        <span class="ui-icon ui-icon-close searchClear" style="width: 15%;"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
        <td class="Cell"></td>
        <td class="Cell">
            <table style="width: 100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td style="">
                            @{var UserList = (List<SelectListItem>)(ViewData["UserList"]);
                            }
                            @Html.DropDownList("UserListId", UserList, new { @onchange = "SearchPost();" })
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td class="Cell"></td>
        </tr>
        </thead>
        <tbody id="table">
            @Html.Partial("_Item", Model)
        </tbody>
        </table>
    </div>
