@import url('https://fonts.googleapis.com/css?family=Open+Sans:600&family=Open+Sans|Raleway&display=swap');


.new-header {
    background-color: #fff;
    padding: 25px 0;
    position: relative;
    /*margin-bottom: 20px;*/
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    @media(min-width: 768px) {
        padding: 10px 20px 10px 20px;
    }

    @media(max-width: 768px) {
        padding: 0px 0;
    }

    &.is-fixed {

        @media(min-width: 992px) {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 100;
            -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown;
        }
        /*.new-header{
            &__bottom{
                display: none;
            }
        }*/
    }


    &__top {
        margin-bottom: 5px;

        &-left {
            margin-bottom: 10px;
            margin-top: 13px;

            @media(min-width: 992px) {
                margin-bottom: 0;
            }

            .site-logo {
                img {
                    @media(max-width: 480px) {
                        width: 90%;
                        height: auto;
                    }
                }
            }
        }

        &-center {
            margin-bottom: 0;


            @media(min-width: 992px) {
                margin-bottom: 0;
                padding-left: 10px;
                padding-right: 10px;
            }

            @media(max-width:992px) {
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        &-right {
            margin-bottom: 0;
            padding-top: 13px;
            /*@media(min-width: 992px){
                 margin-bottom: 0;
             }*/
            /*@media(min-width: 1200px){
                position: absolute;
                padding: 0 350px 0 310px;
                width: 100%;
                left: 0;
            }*/
        }

        .responsive-menu {
            @media(min-width: 768px) {
                background: none !important;
            }

            @media(min-width: 992px) {
                width: auto !important;
                left: auto;
            }
        }

        .btn-ilan-ekle {
            /*background: url(../../../images/btn_ilan_ekle.png) 0 0 no-repeat;*/
            width: 90px;
            height: 23px;
            line-height: 23px;
            text-align: center;
            padding: 10px;
            border-radius: 3px 3px 3px 3px;
            text-decoration: none;
            color: #fff;
            font-size: 14px;
        }

        .user-topmenu {
            &__item {

                a {
                    position: relative;
                    display: -webkit-inline-flex;
                    display: -ms-inline-flexbox;
                    display: inline-flex;
                    -webkit-align-items: center;
                    align-items: center;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    padding: 0.25rem 0.875rem;
                    text-align: center;
                    font-size: 12px;
                    line-height: 13px;
                    color: #828282;

                    @media(max-width:767px) {
                        padding: 0.25rem 0.25rem;
                    }

                    i {
                        width: 20px;
                        height: 20px;
                        margin-bottom: 0.5rem;
                    }

                    .badge {
                        position: absolute;
                        right: 13px;
                        top: 0;
                        font-size: 10px;
                        font-weight: bold;
                        width: 16px;
                        height: 16px;
                        line-height: 16px;
                        background-color: #F9401B;
                        color: #fff;
                        padding: 0;
                        border-radius: 50%;
                    }

                    .icon-favorite-mt {
                        background-position: -20px 0 !important;
                    }

                    .icon-user-mt {
                        background-position: -60px 0 !important;
                    }

                    .icon-message-mt {
                        background-position: -40px 0 !important;
                    }

                    .icon-advertise-mt {
                        background-position: 0px 0 !important;
                    }



                    .text {
                        display: block;
                        white-space: nowrap;
                    }
                }

                a:hover {
                    color: #c22505;
                    text-decoration: none;
                    background-color: none;
                }
            }

            &__link {
            }
        }
    }

    &__bottom {
        &-left {

            .header__mobile-menu {
                margin: 0px 0 0 0;

                &-icon {
                    padding: 0;
                    font-size: 24px;
                }
            }
        }

        &-center {
        }

        &-right {


            .navbar-nav {
                margin: 10px 0 0 0;
                text-align: right;

                li {
                    display: inline-block;
                    position: relative;

                    &.dropdown {
                        display: none;

                        @media(min-width: 767px) {
                            display: block;
                        }
                    }

                    a {
                        padding: 4px 15px 0;
                        color: #0c3871;
                    }

                    ul {
                        position: absolute;
                        right: 0;

                        li {
                            display: block;

                            a {
                                color: #0c3871;
                            }
                        }
                    }
                }
            }
        }

        .topmenu {
            margin-left: 0 !important;
            margin-top: 4px;

            &__item {
                &:first-child {
                    margin-left: 0;
                }
            }

            &__label {
                color: #ff8200;
                font-size: 13px;

                &:after {
                    color: #fff;
                }
            }
        }
    }

    &__search {
        width: 100%;
        float: left;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        border: 2px solid #f9401b;
        position: relative;
        overflow: hidden;

        @media(min-width: 768px) {
            padding: 2px 0px 2px 0px;
            margin-top: 5px;
        }

        @media(max-width:768px) {
            width: 100%;
        }

        form {
            padding: 0;
            margin: 0;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            width: 100%;
        }

        span {
            width: 27px;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -o-border-radius: 100%;
            -ms-border-radius: 100%;
            position: absolute;
            left: 8px;
            top: 11px;
            z-index: 1;
            display: inline-block;
            text-align: center;
        }

        .input-group-append {
            position: absolute;
            right: 10px;
            top: 0;
            margin-left: 0;
            z-index: 29 !important;

            a {
                display: inline-block;
                font-weight: 400;
                color: #4F4F4F;
                text-align: center;
                vertical-align: middle;
                user-select: none;
                background-color: transparent;
                border: 2px solid transparent;
                padding: 0.5rem 1.5rem;
                font-size: 0.75rem;
                line-height: 1.5;
                border-radius: 5px;
                transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

                .icon {
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    text-align: center;
                    display: inline-block;
                    color: #0C3871;
                    background-color: #C8C8C8;
                    border-radius: 50%;
                    font-size: 15px;
                }
            }
        }

        input {
            height: 40px;
            width: 100%;
            font-family: Arial,sans-serif;
            color: #828282;
            font-size: 16px;
            border: 0px;
            padding-left: 40px;
            position: relative;
            z-index: 2;
            background: transparent;
            background-color:#fff;

            &:focus {
                outline: none;
                border: none !important;
                box-shadow: none !important;
            }

            &::placeholder {
                color: #e6e6e6;
            }
        }

        .input-group-btn {
            position: absolute;
            left: 0;
            top: 0;
            width: 120px;
            border-radius: 3px 0 0 3px;


            > a {
                display: block;
                height: 30px;
                line-height: 20px;
                border: none;
                border-right: 2px solid #fc8120;
                background-color: #f3f3f3;

                .caret {
                    color: #fc8120;
                }
            }
        }

        button {
            width: 27px;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -o-border-radius: 100%;
            -ms-border-radius: 100%;
            position: absolute;
            left: 8px;
            top: 11px;
            z-index: 100;
            display: inline-block;
            text-align: center;
            background-color: transparent !important;
            border: none;
        }
    }

    .detayli-arama-btn {
        float: left;
        color: #0c3871;
        font-size: 11px;
        margin-top: 2px;
        position: relative;
        left: 0;
        padding-left: 5px;
        top: 13px;

        @media(min-width: 768px) {
            margin-top: 15px;
        }

        i {
            display: none;
            color: #fc8120;
            margin-right: 4px;
        }
    }

    .responsive-menu {
        background-color: #165cb3;

        .btn-login {
            margin-left: 0;
            display: block;
        }

        .btn-register {
            display: block;
        }

        .btn-logout {
            display: block;
        }
    }

    .user-member-name {
        border-bottom-color: #0c3871;
        box-shadow: none;
    }

    @media(max-width: 767px) {
        .user-topmenu {
            &__item {
                border-top-color: #0c3871 !important;
                box-shadow: none;

                &.active {
                    .user-menu {
                        &__link {
                            background-color: #0c3871 !important;
                        }
                    }
                }
            }

            &__link {
                font-size: 16px;
            }
        }

        #MobileCategoriesContainer.active > a {
            background-color: #0c3871 !important;
        }

        #MobileCategoriesContainer [role=menubar] li,
        #MobileCustomersContainer [role=menubar] li {
            border-top-color: #0c3871 !important;
            box-shadow: none;
        }

        #MobileCategoriesContainer > ul > li.active > a {
            background-color: #176cda !important;
        }

        #MobileCategoriesContainer [role=menubar] > li > a, #MobileCustomersContainer [role=menubar] > li > a {
            padding-left: 18px;
            font-size: 14px;
        }

        #MobileCategoriesContainer [role=menubar] li ul li a, #MobileCustomersContainer [role=menubar] li ul li a {
            padding-left: 30px;
            font-size: 14px;
        }

        #MobileCategoriesContainer [role=menubar] li.active ul, #MobileCustomersContainer [role=menubar] li.active ul {
            background-color: #176cda !important;
        }

        #MobileCategoriesContainer [role=menubar] a:focus, #MobileCategoriesContainer [role=menubar] a:hover, #MobileCustomersContainer [role=menubar] a:focus, #MobileCustomersContainer [role=menubar] a:hover {
            background-color: #0c3871;
        }
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100px)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

.btn-register {
    border-radius: 0 !important;
    background-color: transparent !important;
    border: 3px solid #00afeb;
    height: auto;
    display: inline-block;
    margin: 0;

    @media(min-width: 1400px) {
        padding: 2px 20px !important;
    }

    &:hover, &:focus {
        background-color: #00afeb !important;
    }
}

.btn-login {
    color: #0c3871 !important;
    background: #FFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border: 2px solid #0c3871;


    @media(min-width: 1400px) {
        padding: 2px 20px !important;
    }

    &:hover, &:focus {
        background-color: #fff !important;
    }
}


.btn-logout {
    border-radius: 0 !important;
    background-color: transparent !important;
    border: 3px solid #fff;
    height: auto;
    display: inline-block;
    margin: 0;
    color: #fff;

    @media(min-width: 1400px) {
        padding: 2px 20px !important;
    }

    &:hover, &:focus {
        background-color: #fff !important;
        color: #0c3871;
    }
}

.new-header {
    &__top {
        position: relative;

        &-left {
            float: left;
            width: 30%;
            padding-top: 5px;

            @media(min-width: 992px) {
                width: 30%;
            }

            @media(max-width:768px) {
                width: 51%;
            }
        }

        &-center {
            /*position:relative;
            width:auto;
            top:0;
            left: 0px;
            right: 0px;*/
            float: left;
            width: 100%;

            @media(min-width: 992px) {
                float: left;
                width: auto;
                position: static;
                width: 40%;
            }
        }

        &-right {
            float: right;
            padding-top: 5px;
            width: auto;

            @media(min-width: 992px) {
                width: 30%;
                padding-top: 3px;
            }

            @media(max-width:991px) {
                padding-top: 20px;
            }
        }
    }

    &__bottom {
        position: relative;

        &-left {
            float: left;
            width: 100px;
            padding-top: 1px;

            @media(min-width:768px) {
                width: 260px;
            }

            @media(max-width:768px) {
                width: 50px;
            }

            @media(min-width: 992px) {
                width: 300px;
            }
        }

        &-center {
            position: relative;
            width: auto;
            top: 6px;
            left: 0px;
            right: 0px;

            @media(min-width: 992px) {
                position: absolute;
                left: 310px;
                right: 310px;
                top: 3px;
            }
        }

        &-right {
            float: right;
            width: 215px;

            @media(min-width:768px) {
                width: 180px;
            }

            @media(min-width: 992px) {
                width: 300px;
                padding-top: 3px;
            }

            .nav {
                > li {
                    display: inline-block;

                    .btn-register, .btn-login {
                        margin-top: -10px;
                    }
                }
            }
        }
    }

    &--account {
        .new-header {
            &__top {

                .header__mobile-menu {
                    margin-top: 6px;
                }

                &-right {
                    @media(min-width: 992px) {
                        width: 50%;
                    }






                    .navbar-nav {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        float: left;

                        @media(min-width: 768px) {
                            margin-right: 30px;
                        }

                        li {
                            @media (max-width: 991px) {
                                float: left !important;
                            }




                            > a {
                                padding: 5px 15px 0;
                                color: #0c3871;
                                font-size: 14px;
                            }

                            &.dropdown {
                                display: none;

                                @media(min-width: 768px) {
                                    display: inline-block;
                                }

                                &.open {
                                    :hover {
                                        background-color: #fff;
                                    }

                                    ul {
                                        display: none;

                                        @media(min-width: 768px) {
                                            display: inline-block;
                                        }

                                        li a:hover {
                                            background-color: #e1e1e1;
                                        }
                                    }
                                }
                            }

                            ul {
                                text-align: right;

                                li {
                                    a {
                                        color: #0c3871;
                                        font-size: 11px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.sticky-header {
    .new-header {
        padding: 0 20px;
        margin-bottom: 0;

        &__top-left {
            width: 250px;
        }

        &__top-right {
            padding-top: 0;
        }
    }

    .navbar-nav {
        > li {

            > a {
                &.btn-register, &.btn-login {
                    margin-top: 5px;
                }
            }
        }
    }
}


//mega-menu
.main-navigation {
    background-color: #0C3871;
    border-radius: 0px !important;
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 1px solid #E0E0E0;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 47px !important;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.mega-dropdown {
    position: static !important;
}
.main-navigation div > ul > li{
    width:10%;
    text-align:center;
}
.main-navigation div > ul > li > a {
    display: block;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    padding: 0.75rem 1rem;
    color: #fff !important;
    transition: background-color 0.2s ease;
}

.CustomerCategories:hover {
    background-color: #F9401B !important;
}

#CustomerCategories > a {
    color: #fff !important;
}

#CustomerCategories a:hover {
    color: #fff;
}

.mega-dropdown-menu {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    box-sizing: border-box;
    min-height: 280px;
    width: 92%;
    background-color: #fff;
    border: 1px solid #E0E0E0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    margin-left: 4%;
    margin-right: 4%;

    @media(max-width:768px) {
        background: none !important;
    }
}

.supporter-nav li a:hover {
    color: #F9401B;
}

.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu .menu-image-container a img {
    height: 100px;
    transition: transform .5s ease;
}

.mega-dropdown-menu .menu-image-container img {
    height: 100px;
}

.mega-dropdown-menu .menu-image-container a {
    height: 100px;
}

.mega-dropdown-menu .menu-image-container a:hover {
    background-color: transparent;
}

.mega-dropdown-menu .menu-image-container a img:hover {
    transform: scale(1.1);
}

.mega-dropdown-menu div img {
    height: 64px;
}

.mega-dropdown-menu > li > section > ul > li {
    list-style: none;
    padding: 3px 0 3px 0;
}


.mega-dropdown-menu > li > section > ul > li > a {
    color: #4F4F4F;
    font-family: Arial;
    font-size: 14px;
    //line-height: 16px;
    text-align: left;
}




.mega-dropdown-menu > li > section > ul > li:not(:first-child):hover a {
    color: #0c3871 !important;
    text-decoration: underline;
}

#CustomerCategories {
    background-color: #f9401b;
    height: 46px;
}

#CustomerCategories > a {
    font-size: 15px !important;
}



.mega-dropdown-menu section > ul > .dropdown-header a {
    font-size: 15px;
    color: #F9401B;
    font-family: Arial;
}

.carousel-control {
    width: 30px;
    height: 30px;
    top: -35px;
}

.left.carousel-control {
    right: 30px;
    left: inherit;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    font-size: 12px;
    background-color: #fff;
    line-height: 30px;
    text-shadow: none;
    color: #333;
    border: 1px solid #ddd;
}

.navbar-inverse .navbar-nav .open > a, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fb4a24 !important;
    background-color: #fff !important;
}



.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    background-color: #0c3871 !important;
    color: #fff !important;
}

.navbar-inverse .navbar-nav > li > a:hover span::after,
.navbar-inverse .navbar-nav > li > a:hover span::before {
    display: none;
    width: 0px;
}

.navbar-inverse .navbar-nav > li > a :hover .icon-down-arrow {
    transform: rotate(180deg);
}

.supporter-nav {
    width: 250px;
    position: absolute;
    z-index: 9000;

    @media(max-width:768px) {
        position: absolute !important;
    }
}

.supporter-nav li {
    width: 50%;
    float: left;
}

.supporter-nav > .supporer-menu-item > a {
    position: relative;
    padding: 5px 35px 5px 15px;
    display: block;
    font-size: 12px !important;
    color: #000 !important;
    background-color: #fff !important;
    text-decoration: none;
    border: 1px solid transparent;
    min-height: 30px !important;
}

.supporter-nav > .supporer-menu-item > a:hover {
    color: #F9401B;
}



.mega-dropdown-menu > li > section > ul > .dropdown-header {
    color: #F9401B;
    font-family: Arial;
    font-size: 15px;
    font-weight: 700;
    line-height: 17px;
    margin-bottom: 0.25rem;
}

.mega-dropdown-menu > li > section > ul > .dropdown-header > a:hover {
    text-decoration: underline;
}

.nav > li > a {
    padding: 10px 15px;
}

.sub-category-w a {
    font-size: 12px;
    color: #333;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: none;
}

.mega-dropdown-menu li ul li:not(.dropdown-header) {
    float: left;
    line-height: 1;
}

.main-navigation div .navbar-nav >
li {
    width: 10%;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    background-color: #f9401b!important;
    color: #fff !important;
}

.navbar-inverse .navbar-nav > #CustomerCategories > a:focus, .navbar-inverse .navbar-nav > #CustomerCategories > a:hover {
    background-color: #f12a00 !important;
    color: #fff !important;
}


.main-navigation div .navbar-nav >
li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.main-navigation div .navbar-nav {
    width: 100%;
}

//mobile menu
@media only screen and (max-width:991px ) {

    .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
        background-color: #fff !important;
        color: #0c3871 !important;
    }

    .navbar-inverse .navbar-nav > #CustomerCategories > a:focus, .navbar-inverse .navbar-nav > #CustomerCategories > a:hover {
        background-color: #fff !important;
        color: #0c3871 !important;
    }

    .supporter-nav {
        height: 380px;
    }

    .navbar-nav .open .dropdown-menu {
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        min-height: inherit;
        margin-left: 0px;
        margin-right: 0px;
    }

    .navbar {
        min-height: initial;
        height: auto !important;
    }

    .main-navigation div .navbar-nav > li a span::after,
    .main-navigation div .navbar-nav > li a span::before {
        display: none;
    }

    .navbar-collapse {
        max-height: 3000px !important;
    }

    .navbar-collapse.in {
        overflow-x: auto;
    }

    #CustomerCategories {
        background-color: #fff;
    }

    #CustomerCategories > a {
        color: #0c3871 !important;
    }

    .main-navigation {
        background-color: #eee;
        border: 1px solid #ccc;
        z-index: 80;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        height: auto !important;
        min-height: 0px !important;
    }

    .mobile-main-menu {
        -webkit-box-shadow: -1px 4px 5px 0px rgba(209,209,209,1);
        -moz-box-shadow: -1px 4px 5px 0px rgba(209,209,209,1);
        box-shadow: -1px 4px 5px 0px rgba(209,209,209,1);
        background-color: #fff;
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;
    }

    .mega-dropdown-menu {
        margin-left: 0px;
        margin-right: 0px;
    }

    .mega-dropdown-menu div img {
        height: 24px;
    }

    // .main-navigation div > ul > li {
    //    border-bottom: 1px solid #a2a2a2;
    //    padding-bottom: 5px;
    // }

    .main-navigation div > ul > li > a {
        font-size: 15px;
        text-transform: uppercase;
        text-align: initial;
        font-weight: 500;
        font-family: Arial;
        min-height: 30px !important;
        padding-top: 5px;
        font-family: 'Raleway', sans-serif;
    }

    .main-navigation div > ul > li > a:hover {
        background-color: none !important;
        color: none !important;
    }

    .mega-dropdown-menu li ul li:not(.dropdown-header) {
        float: initial;
        padding-bottom: 5px;
    }

    .mega-dropdown-menu {
        padding: 0px;
        margin-left: 0px;
    }

    .mega-dropdown-menu ul .dropdown-header {
        padding: 0px !important;
    }

    .mega-dropdown-menu

    ul .dropdown-header a {
        font-weight: 600;
    }

    .navbar-inverse .navbar-nav > .open >
    .mega-dropdown-menu > li > section > ul > li > a{
        font-size:17px;
    }
    a:focus .icon-down-arrow {
        transform: rotate(180deg);
    }

    .main-navigation div .navbar-nav > li {
        width: 100%;
    }

    .main-navigation

    div .navbar-nav > li > a {
        padding: 10px 10px;
    }

    .supporter-nav > .supporer-menu-item >

    a {
        font-size: 14px !important;
    }

    .navbar-inverse .navbar-nav .open > a, .navbar-inverse .navbar-nav > .open > a:focus {
        color: #000 !important;
        font-weight: 600;
    }

    .main-navigation .navbar-nav {
        margin: 0px;
        background-color: #fff;
    }

    .new-header__top-right {
        width: auto;
    }
}


.account-dropdown {
    width: 140px;
    position: absolute;
    top: 43px;
    left: -35px;
    background: #FFF;
    z-index: 99;
    padding: 10px 0px 13px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    display: none;
}

.bold {
    font-weight: 700 !important;
}

.account-dropdown li a {
    display: block;
    width: 100%;
    padding: 0 1.5rem;
    clear: both;
    font-size: 15px !important;
    font-weight: 400;
    color: #4F4F4F !important;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    text-align: left !important;
    align-items:flex-start!important;

}

.account-dropdown li a:hover {
    background-color: transparent !important;
    color: #F9401B !important;
}

.account-dropdown li:not(:last-child) {
    padding-bottom: 9px;
    margin-bottom: 9px;
    border-bottom: 1px solid #E0E0E0;
}


.welcome-ac .message {
    color: #5a5a5a;
    font-size: 11px;
    font-family: 'Open Sans',sans-serif;
    padding-bottom: 10px;
}

.btn-register-header {
    background-color: #fb4a24 !important;
    color: #fff !important;
    border: 1px solid #fb4a24;
}

.btn-register-header:hover {
    background-color: #fb4a24 !important;
    color: #fff !important;
    border: 1px solid #fb4a24;
}

.btn-sign-header {
    background-color: #fb4a24d1 !important;
    color: #fff !important;
    border: 1px solid #fb4a24;
}

.btn-sign-header:hover {
    background-color: #fb4a24d1 !important;
    color: #fff !important;
    border: 1px solid #fb4a24;
}

@media (max-width: 991px) {



    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .collapsing {
        overflow: hidden !important;
    }
}


.loginBtn {
    width: 104px;
    color: #0c3871 !important;
    background: #FFF;
    height: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border: 2px solid #0c3871;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    padding-top: 12px;
    margin-top: 5px;
    display: inline-block;
}

.loginBtn:hover {
    text-decoration: none
}

.addAdvert {
    float: left;
    width: 107px;
    color: #fff;
    background: #0c3871;
    height: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border: 2px solid #0c3871;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    padding-top: 12px;
    margin-top: 5px;
    display: inline-block;
}

.addAdvert:hover {
    text-decoration: none;
    color: #fff;
    background-color: #0c3871 !important;
}

.navbar-account-mt > li {
    margin-top: 13px !important;
}


.site-search {

    &__bottom {
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        margin-top: 0.5rem;
    }

    &__store {
        list-style: none;
        margin: 0;
        padding: 0;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        align-items: center;

        li a {
            color: #F9401B;
            font-size: 12px;
            line-height: 13px;
        }

        .dropdown .dropdown-menu {
            width: 200px;
            padding: 5px;
        }

        li + li:before {
            content: "";
            display: inline-block;
            line-height: 1;
            border-left: 1px solid #828282;
            width: 1px;
            height: 12px;
            position: relative;
            top: 2px;
            margin-right: 0.5rem;
            margin-left: 0.75rem;
        }
    }

    &__links {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            line-height: 1;

            a {
                font-size: 12px;
                line-height: 13px;
                color: #828282;
                padding: 0.25rem 0.5rem;
            }
        }
    }
}

.search-store {
    &_title {
        font-size: 14px;
        font-weight: bold;
        line-height: 16px;
        letter-spacing: -0.5px;
        color: #333;
    }

    &__list {
        column-count: 2;
        column-gap: 1rem;
        column-fill: balance;
        -moz-column-fill: balance;
        -webkit-column-fill: balance;
        list-style: none;
        margin: 0;
        padding: 0;

        li a {
            font-size: 13px;
            line-height: 20px;
            color: #333;
        }

        li:before {
            content: "";
            display: inline-block;
            line-height: 0;
            border-left: none;
            margin-right: 0;
            margin-left: 0;
        }

        li + li:before {
            content: "";
            display: inline-block;
            line-height: 0;
            border-left: none;
            margin-right: 0;
            margin-left: 0;
        }
    }
}

.mobile-hm-title {
    display: none;
}

@media only screen and (max-width: 991px) {
    .mobile-hm-title {
        display: block;
        background-color: #FFEACD;
        color: #F9401B;
        text-align: center;
        padding: 1rem;
        margin-bottom: 0.25rem;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .mobile-hm {
        .hm-item {
            padding: 0.5rem 0;
            border-bottom-color: #f2f2f2 !important;
            border-bottom-style: solid;
            border-bottom-width: 1px;
        }

        .hm-text {
            color: rgba(0, 0, 0, 0.87) !important;
            letter-spacing: 0.15px;
        }

        .hm-image-container {
            margin-right: 0.75rem;

            .hm-image {
                border-radius: 50%;
            }
        }

        .hm-icon {
            position: absolute;
            right: 0;
            color: rgba(0, 0, 0, 0.87);
            font-family: makinaturkiye_fonticons;
            font-style: normal;
            font-weight: 900;
        }

        .hm-icon::before {
            content: "\e90d";
        }
    }
}
