@model MTStoreViewModel
@using NeoSistem.MakinaTurkiye.Web.Models
@using NeoSistem.MakinaTurkiye.Web.Models.UtilityModel
@using NeoSistem.MakinaTurkiye.Core.Web.Helpers
@using NeoSistem.MakinaTurkiye.Web.Helpers
@using System.Diagnostics
@using NeoSistem.MakinaTurkiye.Web.Models.Home
@using NeoSistem.MakinaTurkiye.Web.Models.MemberShip
@using NeoSistem.MakinaTurkiye.Web.Models.Authentication
@using MakinaTurkiye.Entities.Tables.Members
@using NeoSistem.MakinaTurkiye.Web.Models.ViewModels
@using NeoSistem.MakinaTurkiye.Web.Models.Products
@using NeoSistem.MakinaTurkiye.Web.Models.Catalog
@using NeoSistem.MakinaTurkiye.Web.Models.Entities
@using NeoSistem.MakinaTurkiye.Web.Models.ProductRequests
@using NeoSistem.MakinaTurkiye.Web.Models.Stores

@{
    //Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutMainMaster.cshtml";
    //using NeoSistem.MakinaTurkiye.Web.Models
    //using NeoSistem.MakinaTurkiye.Web.Models.UtilityModel

}

    <div class="input-group">
        <input type="hidden" name="newCategoryId" id="newCategoryId"/>
        <input type="text" class="search-text-autocomplate form-control" style="border:1px solid #fc8120; border-radius:0; outline:0;" name="searchText"
            id="categoryName" placeholder="Kategoriden Firma Arama" autocomplete="off"><span
                role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
        <span class="input-group-btn">
            <button id="" class="btn btn-default js-firm-category-search" type="submit" style="background:#fc8120; border-radius:0; color:#fff; border:1px solid #fc8120;">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
    <div class="" id="error-categoryname" style="padding:5px; color:#d00000; display:none;" ></div>
