@*@model StoreSearchModel*@
@using NeoSistem.MakinaTurkiye.Web.Models
@using NeoSistem.MakinaTurkiye.Web.Models.UtilityModel
@using NeoSistem.MakinaTurkiye.Core.Web.Helpers
@using NeoSistem.MakinaTurkiye.Web.Helpers
@using System.Diagnostics
@using NeoSistem.MakinaTurkiye.Web.Models.Home
@using NeoSistem.MakinaTurkiye.Web.Models.MemberShip
@using NeoSistem.MakinaTurkiye.Web.Models.Authentication
@using MakinaTurkiye.Entities.Tables.Members
@using NeoSistem.MakinaTurkiye.Web.Models.ViewModels
@using NeoSistem.MakinaTurkiye.Web.Models.Products
@using NeoSistem.MakinaTurkiye.Web.Models.Catalog
@using NeoSistem.MakinaTurkiye.Web.Models.Entities
@using NeoSistem.MakinaTurkiye.Web.Models.ProductRequests
@using NeoSistem.MakinaTurkiye.Web.Models.Stores
@using NeoSistem.MakinaTurkiye.Core.Web

@{
	//Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
	//Layout = "~/Views/Shared/_LayoutMainMaster.cshtml";
	//using NeoSistem.MakinaTurkiye.Web.Models
	//using NeoSistem.MakinaTurkiye.Web.Models.UtilityModel
	//String veri = "/nscss.axd?name=" + HttpUtility.UrlEncode("/Content/category.css");
}


<div class="well well-mt2 form-horizontal">
	<label>Faaliyet Alanına Göre Firma Ara</label>
	<div class="input-group">
		<input type="text" class="form-control" name="categoryName" id="categoryName" placeholder="Dikiş Makinası Firmaları" />
		<input type="hidden" id="categoryUrlName" name="categoryUrlName" />
		<input type="hidden" id="CategoryId" name="CategoryId" />

		<span class="input-group-btn">
			<button id="btnFirmCategorySearch" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
		</span>
	</div>
</div>

<script type="text/javascript">

		$("#categoryName").autocomplete({
		source: function (request, response) {
				$.ajax({
					url: "/StoreSearch/SearchCategory",
					type: "POST",
					dataType: "json",
					data: { categoryName: request.term },
					success: function (data) {
						response($.map(data, function (item) {
							return { label: item.Text + " Firmaları", value: item.Text + " Firmaları", id: item.Value }
						}))
					},
					error: function (x, l, e) {
						alert(x.responseText);
					}

				})
			},
			select: function (event, ui) {
			$('#CategoryId').val(ui.item.id);
			}
	});

	$('#btnFirmCategorySearch').click(function () {

		$.ajax({
			url: '/StoreSearch/CategoryGetUrlName',
			data: { categoryName: $('#categoryName').val() },
			success: function (data) {
				$('#categoryUrlName').val(data);
				window.location = '/sirketler/' + $('#CategoryId').val() + '/' + $('#categoryUrlName').val() + '-firmalari/';
			},
			error: function (x, l, e) {
				alert(x.responseText);
			}
		});
	});
</script>
