@model NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.Advert.AdvertSuccessfullModel
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models
@using NeoSistem.MakinaTurkiye.Web.Models
@using NeoSistem.MakinaTurkiye.Web.Models.UtilityModel
@using NeoSistem.MakinaTurkiye.Core.Web.Helpers
@using NeoSistem.MakinaTurkiye.Web.Helpers
@using System.Diagnostics
@using NeoSistem.MakinaTurkiye.Web.Models.Home
@using NeoSistem.MakinaTurkiye.Web.Models.MemberShip
@using NeoSistem.MakinaTurkiye.Web.Models.Authentication
@using MakinaTurkiye.Entities.Tables.Members
@using NeoSistem.MakinaTurkiye.Web.Models.ViewModels
@using NeoSistem.MakinaTurkiye.Web.Models.Products
@using NeoSistem.MakinaTurkiye.Web.Models.Catalog
@using NeoSistem.MakinaTurkiye.Web.Models.Entities
@using NeoSistem.MakinaTurkiye.Web.Models.ProductRequests
@using NeoSistem.MakinaTurkiye.Web.Models.Stores
@using NeoSistem.MakinaTurkiye.Core.Web
@using NeoSistem.MakinaTurkiye.Web.Models.StoreNews
@using System.Globalization
@using NeoSistem.MakinaTurkiye.Web.Models.StoreProfiles
@using NeoSistem.MakinaTurkiye.Web.Models.Videos
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.Advert
@{
    Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutMainMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutStoreProfileMaster.cshtml";
}

        <div class="row">
            <div class="col-sm-12 col-md-12 store-panel-menu-header" style="">
                @Html.Partial("LeftMenu", Model.LeftMenu)
            </div>
            <div class="col-md-12">
                <h4 class="mt0 text-info">
                    <span class="text-primary glyphicon glyphicon-cog"></span>&nbsp;İlan Ekle
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-md-9">
                <div>
                    <div class="well  store-profile-container">
                        <div>
                            <div>
                                <div class="alert alert-info">
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                    Sayın, @AuthenticationUser.Membership.MemberName  @AuthenticationUser.Membership.MemberSurname  ürün eklemeniz başarı ile tamamlanmıştır.

                                </div>
                                <br>
                                <br>
                                <br>
                                <div class="row m20">
                                    <div class="col-sm-offset-3 col-sm-9 btn-group">
                                        @{ var curProduct = (MakinaTurkiye.Entities.Tables.Catalog.Product)Session["CurProduct"];
                                            var curCategory = new NeoSistem.MakinaTurkiye.Classes.Category();
                                            curCategory.LoadEntity(curProduct.CategoryId);
                                            string productUrl = Helpers.ProductUrl(curProduct.ProductId, curProduct.ProductName);
                                        }
                                        <a href="@productUrl?pageType=firstadd" class="btn btn-default">
                                            <span class="glyphicon glyphicon-shopping-cart"></span>
                                            İlanı Görüntüle
                                        </a>

                                        <a href="/Account/Advert/Advert" class="btn btn-default">
                                            <span class="glyphicon glyphicon-plus"></span>
                                            Yeni İlan Ekle
                                        </a>

                                        <a href="#" class="btn btn-default">
                                            <span class="glyphicon glyphicon-cloud"></span>
                                            Şablonlarımdan Ekle
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
