@Model List<MakinaTurkiye.Entities.Tables.Videos.Video>
    @using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models
    @using NeoSistem.MakinaTurkiye.Web.Models
    @using NeoSistem.MakinaTurkiye.Web.Models.UtilityModel
    @using NeoSistem.MakinaTurkiye.Core.Web.Helpers
    @using NeoSistem.MakinaTurkiye.Web.Helpers
    @using System.Diagnostics
    @using NeoSistem.MakinaTurkiye.Web.Models.Home
    @using NeoSistem.MakinaTurkiye.Web.Models.MemberShip
    @using NeoSistem.MakinaTurkiye.Web.Models.Authentication
    @using MakinaTurkiye.Entities.Tables.Members
    @using NeoSistem.MakinaTurkiye.Web.Models.ViewModels
    @using NeoSistem.MakinaTurkiye.Web.Models.Products
    @using NeoSistem.MakinaTurkiye.Web.Models.Catalog
    @using NeoSistem.MakinaTurkiye.Web.Models.Entities
    @using NeoSistem.MakinaTurkiye.Web.Models.ProductRequests
    @using NeoSistem.MakinaTurkiye.Web.Models.Stores
    @using NeoSistem.MakinaTurkiye.Core.Web
    @using NeoSistem.MakinaTurkiye.Web.Models.StoreNews
    @using System.Globalization
    @using NeoSistem.MakinaTurkiye.Web.Models.StoreProfiles
    @using NeoSistem.MakinaTurkiye.Web.Models.Videos
    @using NeoSistem.MakinaTurkiye.Web.Models.Adverts
    @using MakinaTurkiye.Entities.Tables.Catalog
    @using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.Advert
    @{
        //Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
        //Layout = "~/Views/Shared/_LayoutMainMaster.cshtml";
        //Layout = "~/Views/Shared/_LayoutStoreProfileMaster.cshtml";
    }



    @{int i = 0; }
    @foreach (var item in Model)
    {
        <div class="pull-left 139155m5" id="@item.VideoId">

            <img class="img-thumbnail" width="100px" height="100px" style="width: 100px; height: 100px;" src="/UserFiles/VideoThumb/@item.VideoPicturePath" alt="..">
            <br>
            <a class="mt10" onclick="DeleteVideo('@item.ProductId','@item.VideoId');">Videoyu Sil </a>
        </div>
        i++;
    }
