@model AdvertViewModel
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models
@using NeoSistem.MakinaTurkiye.Web.Models

@using NeoSistem.MakinaTurkiye.Core.Web.Helpers
@using NeoSistem.MakinaTurkiye.Web.Helpers
@using System.Diagnostics
@using NeoSistem.MakinaTurkiye.Web.Models.Home
@using NeoSistem.MakinaTurkiye.Web.Models.MemberShip
@using NeoSistem.MakinaTurkiye.Web.Models.Authentication
@using MakinaTurkiye.Entities.Tables.Members
@using NeoSistem.MakinaTurkiye.Web.Models.ViewModels
@using NeoSistem.MakinaTurkiye.Web.Models.Products
@using NeoSistem.MakinaTurkiye.Web.Models.Catalog
@using NeoSistem.MakinaTurkiye.Web.Models.Entities
@using NeoSistem.MakinaTurkiye.Web.Models.ProductRequests
@using NeoSistem.MakinaTurkiye.Web.Models.Stores
@using NeoSistem.MakinaTurkiye.Core.Web
@using NeoSistem.MakinaTurkiye.Web.Models.StoreNews
@using System.Globalization
@using NeoSistem.MakinaTurkiye.Web.Models.StoreProfiles
@using NeoSistem.MakinaTurkiye.Web.Models.Videos
@using NeoSistem.MakinaTurkiye.Web.Models.Adverts
@using MakinaTurkiye.Entities.Tables.Catalog
@using NeoSistem.MakinaTurkiye.Web.Areas.Account.Models.Advert
@{
    //Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutMainMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutStoreProfileMaster.cshtml";


}

<div class="col-md-4">
    <div class="form-group">
        <label class="col-sm-4">
            Sektör Seçin
        </label>
        <div class="col-sm-12">
            @if (Model.PrivateSectorCategories.Count > 0)
            {
                <div style="display: none">

                    @Html.DropDownList("AllSector", new SelectList(Model.SectorItems.Skip(1).Take(Model.SectorItems.ToList().Count), "CategoryId", "CategoryName"), new { @class = "form-control", @size = "10" })
                </div>
                @Html.DropDownList("DropDownSector", Model.PrivateSectorCategories, new { @class = "form-control", @size = "10" }) }
            else
            {
                @Html.DropDownList("DropDownSector", new SelectList(Model.SectorItems, "CategoryId", "CategoryName"), new { @class = "form-control", @size = "10" })}
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group" id="panelProduct" style="display: none">
        <label class="col-sm-12">
            Ürün Grubu Seçin

        </label>
        <div class="col-sm-12">
            <select id="DropDownProductGroup" name="DropDownProductGroup" class="form-control" size="10">
            </select>
        </div>
    </div>
</div>

