@using NeoSistem.MakinaTurkiye.Web.Models;
@using NeoSistem.MakinaTurkiye.Web.Models.ViewModels;
@{ Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml"; }
@model dynamic
@section HeaderContent {

}

<div>
    <div>
        <div class="alert alert-success">
            <span class="glyphicon glyphicon-ok"></span>&nbsp;Kayıt işlemi başarıyla gerçekleşmiştir.
        </div>
        <div class="well">
            Havale/EFT işleminizi yaptıktan sonra <a href="#">destek masası</a> üzerinden <b>
                havale/eft
                bildirimini
            </b> seçerek Havale/EFT bilgilerini tarafımıza bildirin.
            <br />
            <br />
            Daha sonra paket üyeliğiniz aktif edilecektir.
        </div>
    </div>
</div>