@model MTStoreOtherProductModel
@using NeoSistem.MakinaTurkiye.Web.Models
@using NeoSistem.MakinaTurkiye.Web.Models.UtilityModel
@using NeoSistem.MakinaTurkiye.Core.Web.Helpers
@using System.Diagnostics
@using NeoSistem.MakinaTurkiye.Web.Models.Home
@using NeoSistem.MakinaTurkiye.Web.Models.MemberShip
@using NeoSistem.MakinaTurkiye.Web.Models.Authentication
@using MakinaTurkiye.Entities.Tables.Members
@using NeoSistem.MakinaTurkiye.Web.Models.ViewModels
@using NeoSistem.MakinaTurkiye.Web.Models.Products
@using NeoSistem.MakinaTurkiye.Web.Models.Catalog
@using NeoSistem.MakinaTurkiye.Web.Models.Entities

@{
    // Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
    //using NeoSistem.MakinaTurkiye.Web.Models
    //using NeoSistem.MakinaTurkiye.Web.Models.UtilityModel
    Layout = null;
}


@if (Model.ProductItemModels.Count > 0)
{
    <header style="margin-top:0px;" class="hidden-xs">
        <div class="menu">
            <div class="urun-bilgisi">
                <div class="panel-body" style="margin-top:0px;padding:0px;">
                    @foreach (var item in Model.ProductItemModels.Take(6))
                    {

                        <a href="@item.ProductUrl" class="saller-prd">
                            @if (!string.IsNullOrEmpty(item.SmallPicturePah))
                            {
                                <div class="saller-prd__image">
                                    <img alt="@item.ProductName" src="@item.SmallPicturePah.Replace("100x75","200x150")" style="width:90px;">
                                </div> }
                            else
                            {
                                <div class="saller-prd__image" style="width:100%">
                                    <img src="//s.makinaturkiye.com/no-image_200x150.png" alt="Resim bulunamadı" title="Resim bulunamadı" />
                                </div>}
                            <h5 class="saller-prd__title">@item.ProductName</h5>
                        </a>
                    }
                </div>
            </div>
        </div>
    </header>
}
