<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<!--Canlı Veritabanı-->
		<add name="MakinaTurkiyeDatabaseConnString" connectionString="Data Source=45.155.125.111,1453;Initial Catalog=MT;User ID=sa;Password=m4k!n+3^05trk,3;MultipleActiveResultSets=True;Integrated Security=False;" providerName="System.Data.SqlClient"/>
		<!--Canlı Veritabanı Son-->
		<!--Test Veritabanı-->
		<!--<add name="MakinaTurkiyeDatabaseConnString" connectionString="Data Source=45.155.125.111,1453;Initial Catalog=MakinaTurkiyeAdminTest;User ID=makinaturkey;Password=m4k!n+3^05trk,3;MultipleActiveResultSets=True;Integrated Security=False;" providerName="System.Data.SqlClient" />-->
		<!--Test Veritabanı Son-->
	</connectionStrings>
	
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
