#cookiePolicy {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    padding: 20px 0 5px 0;
    text-align: left;
    z-index: 500;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.5);
}

#cookiePolicy span {
    font-size: 12px;
    font-weight: bold;
    color: #50545d;
    display: inline-block;
    vertical-align: middle
}

#cookiePolicy button{
    border-radius:0;
    background-color:#2a2681;
    margin-top: 6px;
    height: 27px;
    font-size: 12px;
}



#cookiePolicy span a {
    color: #50545d;
    text-decoration: underline;
    margin-left: 3px;
    font-weight: bold
}
.closeCookie:hover{
    cursor: pointer;
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5) and (max-width:736px),
only screen and (-o-min-device-pixel-ratio:3/2) and (max-width:736px),
only screen and (min-device-pixel-ratio:1.5) and (max-width:736px) {
    #cookiePolicy {
        padding: 10px;
        text-align: left;
        box-sizing: border-box
    }
    #cookiePolicy span {
        padding: 0 17px
    }
    #cookiePolicy span:before {
        float: left;
        margin-left: -23px
    }
}