.product-list-mt {
  margin-right: 0;
}
.product-list-mt [class*="col-"] {
  padding-right: 0;
}
.product-list-mt__link {
  position: relative;
}
.product-list-mt__link:hover,
.product-list-mt__link:focus {
  text-decoration: none;
}
@media (max-width: 480px) {
  .product-list-mt__link {
    display: block;
  }
}
.product-list-mt__item {
  background-color: #fff;
  position: relative;
  border: 1px solid #ebebeb;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .product-list-mt__item {
    margin-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .product-list-mt__item {
    min-height: 418px !important;
  }
}
.product-list-mt__item:hover .product-list-mt__title {
  text-overflow: initial;
  white-space: normal;
  width: auto;
  text-decoration: none;
}
.product-list-mt__item:hover .product-list-mt__inner {
  position: relative;
  width: auto;
}
.product-list-mt__item.active .product-list-mt__inner {
  -webkit-box-shadow: 0 0 0 2px rgba(50, 50, 50, 0.15);
  -moz-box-shadow: 0 0 0 2px rgba(50, 50, 50, 0.15);
  box-shadow: 0 0 0 2px rgba(50, 50, 50, 0.15);
}
@media (min-width: 992px) {
  .product-list-mt__item.active .product-list-mt__inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 35;
  }
}
.product-list-mt__inner {
  background-color: #fff;
  position: relative;
}
.product-list-mt__image-area {
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
}
@media (max-width: 480px) {
  .product-list-mt__image-area {
    float: left;
    width: 40%;
    margin: 0;
    padding: 0 0 41.8% 0;
    position: relative;
  }
  .product-list-mt__image-area img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
  }
}
.product-list-mt__image-area .img-thumbnail {
  border: none;
  border-radius: 0;
  min-height: 150px;
  max-height: 150px;
}
.product-list-mt__detail {
  min-height: 180px;
  position: relative;
}
@media (max-width: 480px) {
  .product-list-mt__detail {
    float: left;
    width: 60%;
  }
}
.product-list-mt__detail .product-list-favorite-icon {
  top: 20px!important;
  right: 10px!important;
  left: auto;
}
.product-list-mt__title-info {
  min-height: 35px;
  padding: 0 20px 0 20px;
}
.product-list-mt__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 0;
  width: 100%;
  /*text-align: center;

        @media(min-width:992px) {
            text-align: left;
        }*/
}
@media (max-width: 480px) {
  .product-list-mt__title {
    white-space: pre-line;
  }
}
.product-list-mt__brand-model {
  margin-bottom: 10px;
  color: #339966;
  font-weight: bold;
  font-size: 12px;
}
.product-list-mt__features {
  margin: 0 20px 10px 20px;
}
.product-list-mt__has-video {
  background-color: #000;
  border-radius: 25px;
  font-size: 9px !important;
  color: #fff !important;
  padding: 5px 10px;
  display: inline-block;
  font-weight: 400 !important;
}
.product-list-mt__has-doping {
  background-color: #5cb85c;
  border-radius: 25px;
  font-size: 9px !important;
  color: #fff !important;
  padding: 5px 10px;
  display: inline-block;
  font-weight: 400 !important;
}
.product-list-mt__advert-no {
  padding: 0 20px 10px 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #999;
  margin-bottom: 0;
  display: none;
  position: relative;
}
.product-list-mt__advert-no:before {
  content: 'İlan No: ';
}
@media (min-width: 480px) {
  .product-list-mt__advert-no {
    display: block;
  }
}
.product-list-mt__advert-no--mobile {
  display: none;
}
@media (max-width: 479px) {
  .product-list-mt__advert-no--mobile {
    position: absolute;
    left: 0;
    bottom: 0px;
    right: 0;
    text-align: left;
    display: block;
  }
}
.product-list-mt__store {
  display: inline-block;
  position: relative;
}
.product-list-mt__store:before {
  content: attr(data-storename);
}
.product-list-mt__price {
  padding: 0 20px 10px 20px;
  font-size: 18px;
  margin-bottom: 0;
  color: #333;
  font-weight: bold;
}
.product-list-mt__price .interview:before {
  color: #8a8a8a;
  content: "Fiyat Sorunuz";
}
.product-list-mt__footer {
  position: relative;
  border-top: 1px dotted #e5e5e5;
  color: #444;
  font-size: 11px;
  font-weight: 400;
  padding: 10px 20px;
  height: 36px;
  text-align: right;
}
@media (max-width: 480px) {
  .product-list-mt__footer {
    position: absolute;
    border: none;
    height: auto;
    right: 0;
    bottom: 10px;
    padding: 0 20px;
  }
}
@media (min-width: 992px) {
  .store-product-container .product-list-mt__item {
    min-height: 362px!important;
  }
}
