.store-profile-header {
  min-height: 400px;
  padding-bottom: 60px;
  margin-top: -20px;
  position: relative;
  overflow: hidden;
}
.store-profile-header__cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
.store-profile-header__info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 110px;
  filter: blur(0px) !important;
  z-index: 2;
}
@media (min-width: 768px) {
  .store-profile-header__info {
    background-color: #eeeeee;
  }
  .store-profile-header__info.is-fixed {
    position: fixed;
    bottom: auto;
    top: 0;
    z-index: 500;
    box-shadow: 0 5px 8px 2px #ccc;
  }
  .store-profile-header__info.is-fixed .store-profile-header__brand-logo {
    width: 80px;
    height: 80px;
    bottom: auto;
    top: 14px;
    max-width: 80px;
    max-height: 80px;
    right: auto;
    position: relative;
    float: left;
  }
  .store-profile-header__info.is-fixed .store-profile-header__brand-logo img {
    transform: translateY(-50%) translateX(-50%) scale(0.26);
  }
}
.store-profile-header__brand-logo {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid #cccccc;
  box-shadow: 0px 0px 0 3px #fff;
  background-color: #fff;
  overflow: hidden !important;
  z-index: 1;
  transition: all .1s linear 0s;
  min-width: 80px;
  min-height: 80px;
}
@media (min-width: 768px) {
  .store-profile-header__brand-logo {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -100px;
  }
}
.store-profile-header__brand-logo img {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%) scale(0.8);
  z-index: 2;
  transition: all .1s linear 0s;
}
.store-profile-header__brand-name {
  font-size: 22px;
  text-align: center;
}
@media (min-width: 768px) {
  .store-profile-header__brand-name {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .store-profile-header__brand-name {
    font-size: 32px;
  }
}
.store-profile-header__brand-about {
  font-size: 14px;
  color: #333;
  text-align: center;
}
@media (min-width: 768px) {
  .store-profile-header__brand-about {
    text-align: left;
  }
}
