@inherits NeoSistem.MakinaTurkiye.Core.Web.ViewPage<NeoSistem.MakinaTurkiye.Web.Models.StoreNews.MTStoreNewModel>
@section HeaderContent {

    <link rel="canonical" href="@ViewBag.Canonical" />

}

    <div class="fast-access-bar hidden-xs">
        <div class="fast-access-bar__inner">
            <div class="row clearfix">
                <div class="col-xs-12 col-md-6">
                    <ol class="breadcrumb breadcrumb-mt">
                        <li class="active"><a target="_self" href="https://haber.makinaturkiye.com">Haberler</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix news-container-p1">
        @Html.RenderHtmlPartial("_NewItem",Model.MTStoreNews)
    </div>



