
@model ICollection<MakinaTurkiye.Entities.Tables.Common.AddressChangeHistory>

@section TitleContent {

        Adres Bilgileri Değişikliği

}
@section HeadContent {

    
@*@*<link rel="stylesheet" href="/Scripts/SuperBox/jquery.superbox.css" type="text/css" media="all" />*@
  @*<script type="text/javascript" src="~/Content/Scripts/SuperBox/jquery.superbox.js"></script>*@
    <script type="text/javascript">
        function DeletePost(changeId) {
            if (confirm('Kaydı Silmek istediğinizden eminmisiniz ?')) {
                $.ajax({
                    url: '/ChangeLogs/addressChangeHistoryDelete',
                    data: { id: changeId },
                    type: 'post',
                    dataType: 'json',
                    success: function (data) {
                        if (data) {
                            $('#row' + changeId).hide();
                        }
                    }
                });
            }
        }
    </script>
  	<style type="text/css">
		/* Custom Theme */
		#superbox-overlay{background:#e0e4cc;}
		#superbox-container .loading{width:32px;height:32px;margin:0 auto;text-indent:-9999px;background:url(styles/loader.gif) no-repeat 0 0;}
		#superbox .close a{float:right;padding:0 5px;line-height:20px;background:#333;cursor:pointer;}
		#superbox .close a span{color:#fff;}
		#superbox .nextprev a{float:left;margin-right:5px;padding:0 5px;line-height:20px;background:#333;cursor:pointer;color:#fff;}
		#superbox .nextprev .disabled{background:#ccc;cursor:default;}
	</style>
    <script type="text/javascript"> 

    </script>

}



        <table cellpadding="8" cellspacing="0" class="TableList" style="width: 100%; margin-top: 5px">
      <thead>
        <tr>
            <td style="width:3%;" class="Header HeaderBegin">Sıra No</td>

          <td class="Header"  style="width: 5%;">
            MainPartyId
          </td>
        <td class="Header" style="width:5%">
            Üye Adı
        </td>
          <td class="Header" style="width: 12%;" >
            Firma Adı
          </td>
          <td class="Header" style="width: 4%;" >
            Adres Eski
          </td>
          <td class="Header" style="width: 5%;">
            Adres Yeni
          </td>
            <td class="Header" style="width:7%;">
                Tarih
            </td>
          <td class="Header" style="width: 8%;">
            Araçlar
          </td>
        </tr>
        
       </thead>
            <tbody>
                @Html.Partial("AddressList",Model)
          <tr>
  <td class="ui-state ui-state-default" colspan="8" align="right" style="border-color: #DDD;
	 border-top: none; border-bottom: none;">
	 <div style="float: right;" class="pagination">
		<ul>
            @{int totalPages = Convert.ToInt32(ViewData["pageNumbers"]); }
		  @{ for (int i = 1; i <= totalPages; i++ )
       { 
		  <li>
			 @if (i == Convert.ToInt32(ViewData["page"]))
       { 
			 <span class="currentpage">
				@i</span>
			  } 
			 else
       { 
			 <a href="/ChangeLogs/address?page=@i">
				@i</a>
			  } 
		  </li>
		   } }

		</ul>
	 </div>
  </td>
</tr>
   </tbody>
      </table>



