@model IList<MTStoreModel>
@using NeoSistem.Trinnk.Web.Models

@using NeoSistem.Trinnk.Core.Web.Helpers
@using NeoSistem.Trinnk.Web.Helpers
@using System.Diagnostics
@using NeoSistem.Trinnk.Web.Models.Home
@using NeoSistem.Trinnk.Web.Models.MemberShip
@using NeoSistem.Trinnk.Web.Models.Authentication
@using Trinnk.Entities.Tables.Members
@using NeoSistem.Trinnk.Web.Models.ViewModels
@using NeoSistem.Trinnk.Web.Models.Products
@using NeoSistem.Trinnk.Web.Models.Catalog
@using NeoSistem.Trinnk.Web.Models.Entities
@using NeoSistem.Trinnk.Web.Models.ProductRequests
@using NeoSistem.Trinnk.Web.Models.Stores

@{
    //Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutMainMaster.cshtml";
    //using NeoSistem.Trinnk.Web.Models
    //using Trinnk.Core

}


<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="list-item">
            <div class="list-item__header">
                <div class="list-item__header-image">
                    <a href="javascript:;" title="Kategori Linki">
                        <img class="img-responsive center-block" src="http://lorempixel.com/400/200/technics/">
                    </a>
                </div>
            </div>

            <div class="list-item__content">
                <h2 class="list-item__title">Ahşap İşleme | Mobilya Firmaları </h2>
                <p class="list-item__spot">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>


            <div class="list-item__brand clearfix row no-gutters">
                <div class="col-xs-4">
                    <div class="list-item__brand-item">
                        <a href="javascript:;" data-toggle="tooltip" data-placement="top" title="Uzay Konfeksiyon Makinaları San. Ve Tic. Ltd. Şti.">
                            <img class="img-responsive center-block" src="//s.trinnk.com/Store/46271/thumbs/uzay_konfeksiyon_makinalari_san_ve_tic_ltd_sti_-300x200.jpg">
                        </a>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="list-item__brand-item">
                        <a href="javascript:;" data-toggle="tooltip" data-placement="top" title="Haksan Takım Tezgahları Makina Ve San. Tic. Ltd. Şti.">
                            <img class="img-responsive center-block" src="//s.trinnk.com/Store/47805/thumbs/haksan_takim_tezgahlari_makina_ve_san_tic_ltd_sti_-300x200.jpg">
                        </a>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="list-item__brand-item">
                        <a href="javascript:;" data-toggle="tooltip" data-placement="top" title="Yöntem Makina Sanayi Tic. Ltd. Şti.">
                            <img class="img-responsive center-block" src="//s.trinnk.com/Store/45985/thumbs/yontem_makina_sanayi_tic_ltd_sti_-300x200.jpg">
                        </a>
                    </div>
                </div>
            </div>

            <div class="list-item__footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 list-item__footer-total"><strong>Toplam</strong> : 2648 Firma</div>
                    <div class="col-xs-12 col-sm-6 text-right"><a href="javascript:;" class="list-item__footer-link">Tüm Firmalar</a></div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="list-item">
            <div class="list-item__header">
                <div class="list-item__header-image">
                    <a href="javascript:;" title="Kategori Linki">
                        <img class="img-responsive center-block" src="http://lorempixel.com/400/200/technics/">
                    </a>
                </div>
            </div>

            <div class="list-item__content">
                <h2 class="list-item__title">Ahşap İşleme | Mobilya Firmaları </h2>
                <p class="list-item__spot">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>


            <div class="list-item__brand clearfix row no-gutters">
                <div class="col-xs-4">
                    <div class="list-item__brand-item">
                        <a href="javascript:;" data-toggle="tooltip" data-placement="top" title="Firma 1">
                            <img class="img-responsive center-block" src="http://lorempixel.com/300/200/food">
                        </a>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="list-item__brand-item">
                        <a href="javascript:;" data-toggle="tooltip" data-placement="top" title="Firma 2">
                            <img class="img-responsive center-block" src="http://lorempixel.com/300/200/nature">
                        </a>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="list-item__brand-item">
                        <a href="javascript:;" data-toggle="tooltip" data-placement="top" title="Firma 3">
                            <img class="img-responsive center-block" src="http://lorempixel.com/300/200/sports">
                        </a>
                    </div>
                </div>
            </div>

            <div class="list-item__footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 list-item__footer-total"><strong>Toplam</strong> : 2648 Firma</div>
                    <div class="col-xs-12 col-sm-6 text-right"><a href="javascript:;" class="list-item__footer-link">Tüm Firmalar</a></div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="list-item">
            <div class="list-item__header">
                <div class="list-item__header-image">
                    <a href="javascript:;" title="Kategori Linki">
                        <img class="img-responsive center-block" src="http://lorempixel.com/400/200/technics/">
                    </a>
                </div>
            </div>

            <div class="list-item__content">
                <h2 class="list-item__title">Ahşap İşleme | Mobilya Firmaları </h2>
                <p class="list-item__spot">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>


            <div class="list-item__brand clearfix row no-gutters">
                <div class="col-xs-4">
                    <div class="list-item__brand-item">
                        <a href="javascript:;" data-toggle="tooltip" data-placement="top" title="Firma 1">
                            <img class="img-responsive center-block" src="http://lorempixel.com/300/200/food">
                        </a>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="list-item__brand-item">
                        <a href="javascript:;" data-toggle="tooltip" data-placement="top" title="Firma 2">
                            <img class="img-responsive center-block" src="http://lorempixel.com/300/200/nature">
                        </a>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="list-item__brand-item">
                        <a href="javascript:;" data-toggle="tooltip" data-placement="top" title="Firma 3">
                            <img class="img-responsive center-block" src="http://lorempixel.com/300/200/sports">
                        </a>
                    </div>
                </div>
            </div>

            <div class="list-item__footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 list-item__footer-total"><strong>Toplam</strong> : 2648 Firma</div>
                    <div class="col-xs-12 col-sm-6 text-right"><a href="javascript:;" class="list-item__footer-link">Tüm Firmalar</a></div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="list-item">
            <div class="list-item__header">
                <div class="list-item__header-image">
                    <a href="javascript:;" title="Kategori Linki">
                        <img class="img-responsive center-block" src="http://lorempixel.com/400/200/technics/">
                    </a>
                </div>
            </div>

            <div class="list-item__content">
                <h2 class="list-item__title">Ahşap İşleme | Mobilya Firmaları </h2>
                <p class="list-item__spot">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>


            <div class="list-item__brand clearfix row no-gutters">
                <div class="col-xs-4">
                    <div class="list-item__brand-item">
                        <a href="javascript:;" data-toggle="tooltip" data-placement="top" title="Firma 1">
                            <img class="img-responsive center-block" src="http://lorempixel.com/300/200/food">
                        </a>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="list-item__brand-item">
                        <a href="javascript:;" data-toggle="tooltip" data-placement="top" title="Firma 2">
                            <img class="img-responsive center-block" src="http://lorempixel.com/300/200/nature">
                        </a>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="list-item__brand-item">
                        <a href="javascript:;" data-toggle="tooltip" data-placement="top" title="Firma 3">
                            <img class="img-responsive center-block" src="http://lorempixel.com/300/200/sports">
                        </a>
                    </div>
                </div>
            </div>

            <div class="list-item__footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 list-item__footer-total"><strong>Toplam</strong> : 2648 Firma</div>
                    <div class="col-xs-12 col-sm-6 text-right"><a href="javascript:;" class="list-item__footer-link">Tüm Firmalar</a></div>
                </div>
            </div>

        </div>
    </div>
</div>
