<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="DatabaseConnString" connectionString="Data Source=213.238.178.76;Initial Catalog=MakinaTurkiye;User ID=sa;Password=m4k!n+3^05trk,3" providerName="System.Data.SqlClient" />
		<add name="MakinaTurkiyeEntities" connectionString="metadata=res://*/Models.Entities.MakinaTurkiyeEntities.csdl|res://*/Models.Entities.MakinaTurkiyeEntities.ssdl|res://*/Models.Entities.MakinaTurkiyeEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=213.238.178.76;initial catalog=MakinaTurkiye;user id=sa;password=m4k!n+3^05trk,3;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="MakinaTurkiyeDatabaseConnString" connectionString="Data Source=213.238.178.76;Initial Catalog=MakinaTurkiye;User ID=sa;Password=m4k!n+3^05trk,3;MultipleActiveResultSets=True;Integrated Security=False;" providerName="System.Data.SqlClient" />
		<add name="Elmah" connectionString="data source=~/elmah/elmah.db" />
	</connectionStrings>
	<MakinaTurkiyeConfig>
		<Compress Enabled="false" />
		<Caching Enabled="True" AllOperationEnabled="True" GetOperationEnabled="True" SetOperationEnabled="True" RemoveOperationEnabled="True" />
		<RedisCaching Enabled="true" ConnectionString="localhost" />
		<Application TestModeEnabled="false" LogEnabled="false" StartingTasksEnabled="false" />
		<EntityFramework LazyLoadingEnabled="false" ProxyCreationEnabled="false" AutoDetectChangesEnabled="True" ValidateOnSaveEnabled="false" />
		<Product DescriptionHtmlClear="true"></Product>
	</MakinaTurkiyeConfig>
</configuration>