.new-header {
  background-color: #0c3871;
  padding: 10px 0;
  position: relative;
  margin-bottom: 20px;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@media (min-width: 768px) {
  .new-header {
    padding: 10px 20px 5px 20px;
  }
}
.new-header.is-fixed {
  /*.new-header{
            &__bottom{
                display: none;
            }
        }*/
}
@media (min-width: 992px) {
  .new-header.is-fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }
}
.new-header__top {
  margin-bottom: 5px;
}
.new-header__top-left {
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .new-header__top-left {
    margin-bottom: 0;
  }
}
@media (max-width: 480px) {
  .new-header__top-left .site-logo img {
    width: 90%;
    height: auto;
  }
}
.new-header__top-center {
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .new-header__top-center {
    margin-bottom: 0;
  }
}
.new-header__top-right {
  margin-bottom: 0;
  /*@media(min-width: 992px){
                 margin-bottom: 0;
             }*/
  /*@media(min-width: 1200px){
                position: absolute;
                padding: 0 350px 0 310px;
                width: 100%;
                left: 0;
            }*/
}
@media (min-width: 768px) {
  .new-header__top .responsive-menu {
    background: none !important;
  }
}
@media (min-width: 992px) {
  .new-header__top .responsive-menu {
    width: auto !important;
    left: auto;
  }
}
.new-header__top .btn-ilan-ekle {
  background-color: #fc8120;
  background: url(../../../images/btn_ilan_ekle.png) 0 0 no-repeat;
  width: 100px;
  height: 23px;
  line-height: 23px;
  text-align: right;
  padding-right: 10px;
  border-radius: 0 3px 3px 0;
  text-decoration: none;
  float: right;
  color: #fff;
}
.new-header__top .btn-ilan-ekle:hover {
  color: #fff;
}
@media (min-width: 768px) {
  .new-header__top .user-topmenu__item:first-child a {
    background-color: #fc8120;
    background: url(../../../images/btn_ilan_ekle_v2.png) 0 0 no-repeat;
    width: 115px;
    height: 23px;
    line-height: 23px;
    padding-right: 10px;
    padding-left: 40px;
  }
}
.new-header__top .user-topmenu__item:first-child a:hover {
  color: #fff;
}
.new-header__top .user-topmenu__item:first-child a:after {
  display: none;
}
.new-header__top .user-topmenu__item:first-child:after {
  display: none;
}
.new-header__top .user-topmenu__item:after {
  transform: skewX(-20deg);
  width: 2px;
  background-color: #fc8120;
}
.new-header__top .user-topmenu__link {
  color: #fff;
}
.new-header__top .user-topmenu__link:hover {
  color: #fff;
  background-color: transparent;
}
@media (min-width: 768px) {
  .new-header__top .user-topmenu__link:hover {
    color: #fc8120;
  }
}
.new-header__bottom-left .header__mobile-menu {
  margin: 5px 0 0 0;
}
.new-header__bottom-left .header__mobile-menu-icon {
  padding: 0;
  font-size: 24px;
}
.new-header__bottom-right .navbar-nav {
  margin: 10px 0 0 0;
  text-align: right;
}
.new-header__bottom-right .navbar-nav li {
  display: inline-block;
  position: relative;
}
.new-header__bottom-right .navbar-nav li.dropdown {
  display: none;
}
@media (min-width: 767px) {
  .new-header__bottom-right .navbar-nav li.dropdown {
    display: block;
  }
}
.new-header__bottom-right .navbar-nav li a {
  padding: 4px 15px 0;
  color: #fc8120;
}
.new-header__bottom-right .navbar-nav li ul {
  position: absolute;
  right: 0;
}
.new-header__bottom-right .navbar-nav li ul li {
  display: block;
}
.new-header__bottom-right .navbar-nav li ul li a {
  color: #0c3871;
}
.new-header__bottom .topmenu {
  margin-left: 0 !important;
  margin-top: 4px;
}
.new-header__bottom .topmenu__item:first-child {
  margin-left: 0;
}
.new-header__bottom .topmenu__label {
  color: #ff8200;
  font-size: 13px;
}
.new-header__bottom .topmenu__label:after {
  color: #fff;
}
.new-header__search {
  width: calc(100% - 140px);
  height: 34px;
  border-radius: 3px;
  background-color: #fff;
  display: inline-block;
  padding: 2px 45px 2px 0px;
  position: relative;
  border: 2px solid #fc8120;
  float: left;
}
@media (min-width: 768px) {
  .new-header__search {
    padding: 2px 45px 2px 0px;
    margin-top: 5px;
  }
}
@media (max-width: 768px) {
  .new-header__search {
    width: calc(100% - 80px);
  }
}
.new-header__search form {
  padding: 0;
  margin: 0;
}
.new-header__search input {
  width: 100%;
  display: inline-block;
  height: 28px;
  border: none;
  padding: 5px 10px;
  line-height: 1;
  color: #333;
}
.new-header__search input:focus {
  outline: none;
}
.new-header__search .input-group-btn {
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  border-radius: 3px 0 0 3px;
}
.new-header__search .input-group-btn > a {
  display: block;
  height: 30px;
  line-height: 20px;
  border: none;
  border-right: 2px solid #fc8120;
  background-color: #f3f3f3;
}
.new-header__search .input-group-btn > a .caret {
  color: #fc8120;
}
.new-header__search button {
  position: absolute;
  right: -1px;
  width: 45px;
  height: 30px;
  background-color: #fc8120;
  border: none;
  outline: none;
  top: 0;
  color: #fff;
  border-radius: 0 3px 3px 0;
  line-height: 1;
}
.new-header .detayli-arama-btn {
  float: left;
  color: #fff;
  font-size: 11px;
  margin-top: 2px;
  position: relative;
  left: 0;
  padding-left: 5px;
  margin-top: 8px;
}
@media (min-width: 768px) {
  .new-header .detayli-arama-btn {
    margin-top: 15px;
  }
}
.new-header .detayli-arama-btn i {
  display: none;
  color: #fc8120;
  margin-right: 4px;
}
.new-header .responsive-menu {
  background-color: #165cb3;
}
.new-header .responsive-menu .btn-login {
  margin-left: 0;
  display: block;
}
.new-header .responsive-menu .btn-register {
  display: block;
}
.new-header .responsive-menu .btn-logout {
  display: block;
}
.new-header .user-member-name {
  border-bottom-color: #0c3871;
  box-shadow: none;
}
@media (max-width: 767px) {
  .new-header .user-topmenu__item {
    border-top-color: #0c3871 !important;
    box-shadow: none;
  }
  .new-header .user-topmenu__item.active .user-menu__link {
    background-color: #0c3871 !important;
  }
  .new-header .user-topmenu__link {
    font-size: 16px;
  }
  .new-header .user-topmenu__link:hover,
  .new-header .user-topmenu__link:focus {
    background-color: #0c3871;
    color: #fff;
  }
  .new-header #MobileCategoriesContainer.active > a {
    background-color: #0c3871 !important;
  }
  .new-header #MobileCategoriesContainer [role=menubar] li,
  .new-header #MobileCustomersContainer [role=menubar] li {
    border-top-color: #0c3871 !important;
    box-shadow: none;
  }
  .new-header #MobileCategoriesContainer > ul > li.active > a {
    background-color: #176cda !important;
  }
  .new-header #MobileCategoriesContainer [role=menubar] > li > a,
  .new-header #MobileCustomersContainer [role=menubar] > li > a {
    padding-left: 18px;
    font-size: 14px;
  }
  .new-header #MobileCategoriesContainer [role=menubar] li ul li a,
  .new-header #MobileCustomersContainer [role=menubar] li ul li a {
    padding-left: 30px;
    font-size: 14px;
  }
  .new-header #MobileCategoriesContainer [role=menubar] li.active ul,
  .new-header #MobileCustomersContainer [role=menubar] li.active ul {
    background-color: #176cda !important;
  }
  .new-header #MobileCategoriesContainer [role=menubar] a:focus,
  .new-header #MobileCategoriesContainer [role=menubar] a:hover,
  .new-header #MobileCustomersContainer [role=menubar] a:focus,
  .new-header #MobileCustomersContainer [role=menubar] a:hover {
    background-color: #0c3871;
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.btn-register {
  border-radius: 0 !important;
  background-color: transparent !important;
  border: 3px solid #00afeb;
  height: auto;
  display: inline-block;
  margin: 0;
}
@media (min-width: 1400px) {
  .btn-register {
    padding: 2px 20px!important;
  }
}
.btn-register:hover,
.btn-register:focus {
  background-color: #00afeb !important;
}
.btn-login {
  border-radius: 0 !important;
  background-color: transparent !important;
  border: 3px solid #f39335;
  height: auto;
  display: inline-block;
  margin: 0 0 0 10px;
}
@media (min-width: 1400px) {
  .btn-login {
    padding: 2px 20px!important;
  }
}
.btn-login:hover,
.btn-login:focus {
  background-color: #f39335 !important;
}
.btn-logout {
  border-radius: 0 !important;
  background-color: transparent !important;
  border: 3px solid #fff;
  height: auto;
  display: inline-block;
  margin: 0;
  color: #fff;
}
@media (min-width: 1400px) {
  .btn-logout {
    padding: 2px 20px!important;
  }
}
.btn-logout:hover,
.btn-logout:focus {
  background-color: #fff !important;
  color: #0c3871;
}
.new-header__top {
  position: relative;
}
.new-header__top-left {
  float: left;
  width: 190px;
  padding-top: 5px;
}
@media (min-width: 992px) {
  .new-header__top-left {
    width: 250px;
  }
}
.new-header__top-center {
  /*position:relative;
            width:auto;
            top:0;
            left: 0px;
            right: 0px;*/
  float: left;
  width: 100%;
}
@media (min-width: 992px) {
  .new-header__top-center {
    float: none;
    width: auto;
    position: absolute;
    left: 310px;
    right: 310px;
  }
}
.new-header__top-right {
  float: right;
  padding-top: 5px;
  width: auto;
}
@media (min-width: 992px) {
  .new-header__top-right {
    width: 300px;
    padding-top: 3px;
  }
}
.new-header__bottom {
  position: relative;
}
.new-header__bottom-left {
  float: left;
  width: 100px;
  padding-top: 1px;
}
@media (min-width: 768px) {
  .new-header__bottom-left {
    width: 260px;
  }
}
@media (min-width: 992px) {
  .new-header__bottom-left {
    width: 300px;
  }
}
.new-header__bottom-center {
  position: relative;
  width: auto;
  top: 6px;
  left: 0px;
  right: 0px;
}
@media (min-width: 992px) {
  .new-header__bottom-center {
    position: absolute;
    left: 310px;
    right: 310px;
    top: 3px;
  }
}
.new-header__bottom-right {
  float: right;
  width: 180px;
}
@media (min-width: 768px) {
  .new-header__bottom-right {
    width: 180px;
  }
}
@media (min-width: 992px) {
  .new-header__bottom-right {
    width: 300px;
    padding-top: 3px;
  }
}
.new-header__bottom-right .nav > li {
  display: inline-block;
}
.new-header__bottom-right .nav > li .btn-register,
.new-header__bottom-right .nav > li .btn-login {
  margin-top: -10px;
}
.new-header--account .new-header__top .header__mobile-menu {
  margin-top: 6px;
}
@media (min-width: 992px) {
  .new-header--account .new-header__top-right {
    width: 50%;
  }
}
.new-header--account .new-header__top-right .navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
}
@media (min-width: 768px) {
  .new-header--account .new-header__top-right .navbar-nav {
    margin-right: 30px;
  }
}
.new-header--account .new-header__top-right .navbar-nav li > a {
  padding: 5px 15px 0;
  color: #fc8120;
  font-size: 14px;
}
.new-header--account .new-header__top-right .navbar-nav li.dropdown {
  display: none;
}
@media (min-width: 768px) {
  .new-header--account .new-header__top-right .navbar-nav li.dropdown {
    display: inline-block;
  }
}
.new-header--account .new-header__top-right .navbar-nav li.dropdown.open ul {
  display: none;
}
@media (min-width: 768px) {
  .new-header--account .new-header__top-right .navbar-nav li.dropdown.open ul {
    display: inline-block;
  }
}
.new-header--account .new-header__top-right .navbar-nav li ul {
  text-align: right;
}
.new-header--account .new-header__top-right .navbar-nav li ul li a {
  color: #0c3871;
  font-size: 11px;
}
.sticky-header .new-header {
  padding: 0 20px;
  margin-bottom: 0;
}
.sticky-header .new-header__top-left {
  width: 250px;
}
.sticky-header .new-header__top-right {
  padding-top: 0;
}
.sticky-header .navbar-nav > li > a.btn-register,
.sticky-header .navbar-nav > li > a.btn-login {
  margin-top: 5px;
}
