@model dynamic

@section TitleContent {

  Index

}
@section HeadContent {

  <script src="~/Content/Scripts/JQuery-qtip.js" type="text/javascript"></script>
  <link href="/Content/qtip.css" rel="Stylesheet" type="text/css" />
    <title>MailAllMemberType</title>

}

  


