@model dynamic

@section HeaderContent {


}

    <div class="row">
        <div class="well">
            <span>Kullanıcı adı veya şifrenizi hatalı girdiniz.
                <br />
                <br />
                Tekrar giriş yapmak için</span> <a href="/Uyelik/KullaniciGirisi">tıklayınız</a>
        </div>
    </div>


