@model StoreModel
@using NeoSistem.Trinnk.Web.Areas.Account.Models
@using NeoSistem.Trinnk.Web.Models

@using NeoSistem.Trinnk.Core.Web.Helpers
@using NeoSistem.Trinnk.Web.Helpers
@using System.Diagnostics
@using NeoSistem.Trinnk.Web.Models.Home
@using NeoSistem.Trinnk.Web.Models.MemberShip
@using NeoSistem.Trinnk.Web.Models.Authentication
@using Trinnk.Entities.Tables.Members
@using NeoSistem.Trinnk.Web.Models.ViewModels
@using NeoSistem.Trinnk.Web.Models.Products
@using NeoSistem.Trinnk.Web.Models.Catalog
@using NeoSistem.Trinnk.Web.Models.Entities
@using NeoSistem.Trinnk.Web.Models.ProductRequests
@using NeoSistem.Trinnk.Web.Models.Stores
@using NeoSistem.Trinnk.Core.Web
@using NeoSistem.Trinnk.Web.Models.StoreNews
@using System.Globalization
@using NeoSistem.Trinnk.Web.Models.StoreProfiles
@using NeoSistem.Trinnk.Web.Models.Videos
@using NeoSistem.Trinnk.Web.Models.Adverts
@using Trinnk.Entities.Tables.Catalog
@using NeoSistem.Trinnk.Web.Areas.Account.Models.Advert
@using NeoSistem.Trinnk.Web.Areas.Account.Models.FavoriteProducts
@using NeoSistem.Trinnk.Web.Areas.Account.Models.Checkouts
@using NeoSistem.Trinnk.Web.Areas.Account.Models.OtherSettings
@using NeoSistem.Trinnk.Web.Areas.Account.Constants

@{
    Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";

}

@section headercontent{
    <script type="text/javascript">
        function DeleteAddress(Id, typeId) {
            if (confirm('Adresi ve adrese ait telefonları silmek istediğinizden eminmisiniz ?')) {
                $.ajax({
                    url: '/Profile/DeleteAddress',
                    type: 'post',
                    data: { AddressId: Id, type: typeId },
                    success: function (data) {
                        alert('Silmek istediğiniz adres başarıyla silinmiştir.');
                        $('#divAddressItems').html(data);
                    },
                    error: function (x, l, e) {
                        alert(x.responseText);
                    }
                });
            }
        }
    </script>
}




@{
    DealerType pageType = (DealerType)(Convert.ToByte(Request.QueryString["DealerType"]));
    string uControlName = string.Empty;
    string pageTitle = string.Empty;

    switch (pageType)
    {
        case DealerType.Bayii:
            uControlName = "Dealer";
            pageTitle = "Firma Bayi Ağları";
            break;
        case DealerType.YetkiliServis:
            uControlName = "Service";
            pageTitle = "Firma Servis Ağları";
            break;
        case DealerType.Sube:
            uControlName = "Branch";
            pageTitle = "Firma Şubeleri";
            break;
        default:
            break;
    }
}
<div class="row">
    <div class="col-sm-12 col-md-12 store-panel-menu-header" style="margin-top: -20px; height: 60px;">
        @Html.Partial("LeftMenu", Model.LeftMenu)
    </div>
    <div class="col-md-12">
        <h4 class="mt0 text-info">

            <span class="text-primary glyphicon glyphicon-cog"></span>&nbsp; @pageTitle
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div>

            <div class="well store-panel-container">
                <div class="row">
                    @using (Html.BeginForm("Index", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input id="DealerTypeId" name="DealerTypeId" value="@Convert.ToByte(Request.QueryString["DealerType"])"
                               type="hidden" />
                        @Html.Partial(uControlName)
                    }
                </div>
            </div>
        </div>
    </div>
</div>