body
{
  font-family: Segoe UI, Arial; /*  background-color: #f8fbfd;*/
  background-color: #fff;
}

img
{
  border: none;
}
.hesabim_ust_menu
{
  background-image: url('/Areas/Account/Content/Images/ust_menu1.png');
  background-repeat: repeat-x;
  float: left;
  height: 20px;
  width: 970px;
  margin-bottom: 10px;
}
.hesabim_ust_menu_icerik
{
  font-family: Segoe UI, Arial;
  font-size: 12px;
  color: #4C4C4C;
  padding-right: 80px;
  text-align: right;
  padding-top: 3px;
}
.hesabim_ust_menu_icerik a
{
  text-decoration: none;
  color: #838381;
  font-size: 11px;
}

.hesabim_logo
{
  float: left;
  height: 53px;
  width: 907px;
  padding-left: 8px;
  text-align: left;
}
.gizli_div
{
  clear: both;
}
.hesabim_bulundugunuz_sayfa
{
  float: left;
  font-family: Segoe UI, Arial;
  font-size: 11px;
  color: #4C4C4C;
  text-decoration: none;
  height: 30px;
  width: 880px;
  padding-top: 15px;
  padding-left: 70px;
}
.hesabim_bulundugunuz_sayfa_2
{
  font-family: Segoe UI, Arial;
  font-size: 11px;
  color: #0769CD;
  text-decoration: none;
}
.hesabim_alt
{
  background-image: url('/Areas/Account/Content/Images/hasabim_alt.png');
  background-repeat: repeat-x;
  height: 100px;
  width: 970px;
  float: left;
  color: #fff;
}
.hesabim_alt_icerik
{
  font-family: Segoe UI, Arial;
  font-size: 13px;
  color: #FFFFFF;
  margin-top: 25px;
  text-align: center;
}


.LeftMenu
{
  width: 80%;
  height: auto;
  padding: 0px;
  margin: 0px;
  float: left;
  border: solid 1px #000;
}
 
.emptyContent
{
  width: 768px;
  height: auto;
  float: left;
}
.footerLink
{
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}
