
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NeoSistem.Trinnk.Web.Images</title>
</head>
<body>
    <div>
        <img src="/Images/CategoryHomePageImageFolder/0e3cfeba9a0d455fa8d5917a24cb76ff.png" alt="Ahşap İşleme Makinaları ">
    </div>
</body>
</html>
