
.title
{
  font-size: 19px;
  color: #000;
  font-weight: 700;
  display: block;
}
.attention
{
  font-size: 11px;
  color: #e73b49;
  text-align: left;
  display: block;
  float:left;
}
.sep_long
{
  width: 685px;
  border-bottom: solid 2px #c9e6e2;
  margin-bottom: 12px;
  height: 2px;
  line-height: 2px;
}
.sep_short
{
  clear: both;
  width: 382px;
  border-bottom: solid 2px #c9e6e2;
  margin-bottom: 12px;
  height: 6px;
  line-height: 6px;
}
.controls
{                       
  margin: 20px 35px 0px 40px;
  font-size: 12px;
   float:left;
}
.description
{
  float: left;
}
.controls input, .checkboxlist
{
  border: solid 1px #c9e6e2;
  border-top: solid 2px #c9e6e2;
  height: 17px;
  margin: 3px 5px 7px 5px;
  font-size: 12px;
  padding-top: 5px;
}
.controls select
{
  border: solid 1px #c9e6e2;
  border-top: solid 2px #c9e6e2;
  height: 20px;
  margin: 0px 0px 7px 5px;
  font-size: 12px;
  vertical-align: middle;
}

.controls textarea
{
  border: solid 1px #c9e6e2;
  border-top: solid 2px #c9e6e2;
  height: 20px;
  margin: 0px 0px 7px 5px;
}

.bina_kapi_no_input
{
  width: 53px;
  padding-left: 10px;
}
.small_input
{
  width: 120px;
  font-size: 12px;
  padding-left: 5px;
}
.big_input
{
  width: 180px;
  font-size: 12px;
  padding-left: 5px;
}
.controls span
{
  font-size: 9px;
  color: #b3b3b3;
  margin-left: 5px;
}

.controls table tr td
{
  font-size: 12px;
}

