
body
{
  margin: 0px;
  font-family: Segoe UI, Arial;
  outline: none;
  background-image: url('/Content/Images/headerMenuMiddle.png');
  background-repeat: repeat-x;
  font-size: 10px;
}
img
{
  border: none;
}
.mainPanel
{
  width: 905px;
  height: auto;
  margin: 0px auto;
  background-color: white;
}
.container
{
  float: left;
  width: 670px;
}
.headerMenu
{
  margin-left: 249px;
  height: auto;
  float: left;
}
.headerMenu ul
{
  list-style-type: none;
  width: 100%;
  float: left;
  height: 27px;
  margin: 0px;
  padding: 4px 0px 0px 12px;
}
.headerMenu ul li
{
  width: auto;
  height: 27px;
  float: left;
  margin-left: 5px;
}
.headerMenu ul li a
{
  font-size: 11px;
  color: #666666;
  text-decoration: none;
}
.headerMenu ul li span
{
  font-size: 12px;
}
.logo
{
  clear: both;
  padding-top: 53px;
  margin-bottom: 25px;
}
.atPage
{
  margin-left: 12px;
  margin-top: 14px;
}
.txtBlue
{
  color: #3371bc;
}
.footer
{
  width: 758px;
  height: 74px;
  color: #636363;
  font-size: 12px;
  text-align: center;
  padding-top: 30px;
  margin: 0px auto;
  float: left;
}
