@charset "UTF-8";
/* CSS Document */

body, dl, dt, dd{margin: 0;padding: 0;font: 12px Arial, Helvetica, sans-serif;}


.container {
    width:240px;
	border-right:1px solid #B5D0FB;
	border-left:1px solid #B5D0FB;
	border-top:1px solid #B5D0FB;
	
}
.container a:link, .container a:visited {
	text-decoration:none;
	color:#333;
}

.container a:hover {color:#F60;}
.container_isim {padding-bottom:1px;height:25px;border-bottom:1px solid #D9E8FF;zoom:1;overflow:hidden;}
.container_isim a, .container_isim a:visited {
    display:block;padding:1px 0 1px 1px;width:240px;height:23px;line-height:25px;text-indent:9px;background:#FFF url(ok.gif) no-repeat 220px 11px;zoom:1;overflow:hidden; color:#000000;font-family: Arial;
}

.container_isim a:hover{text-decoration:none;}
.alt_container {
	position:absolute;
	visibility:hidden;
	top:-28px;
	left:220px;
	border:1px solid #F99935;
	background:#FFF;
	overflow:hidden;
	width:662px;
}
            
.alt_container div a{color:#3D3D3D;font-weight:100;display:inline-block;line-height:20px;padding:5px 5px 0 5px;}
.alt_container .kutu1 a{color:#3D3D3D;font-weight:bold;display:inline-block;line-height:20px;padding:5px 5px 0 5px;}
.alt_container .kutu2 a{color:#3D3D3D;font-weight:bold;display:inline-block;line-height:20px;padding:5px 5px 0 5px;}
.alt_container .kutu3 a{color:#3D3D3D;font-weight:bold;display:inline-block;line-height:20px;padding:5px 5px 0 5px;}
.alt_container .kutu4 a{color:#3D3D3D;font-weight:bold;display:inline-block;line-height:20px;padding:5px 5px 0 5px;}
.alt_container .kutu5 a{color:#3D3D3D;font-weight:bold;display:inline-block;line-height:20px;padding:5px 5px 0 5px;}
            
.alt_container .kutu1 a:hover {color:#F60;}
.alt_container .kutu2 a:hover {color:#F60;}
.alt_container .kutu3 a:hover {color:#F60;}
.alt_container .kutu4 a:hover {color:#F60;}
.alt_container .kutu5 a:hover {color:#F60;}
.container_madde {position:relative;}
            
.container_madde:hover .container_isim a, .container_madde:hover .container_isim a:visited {
	position:absolute;
	top:0;
	left:0;
	z-index:10;
	padding:0;
	border:1px solid #F99935;
	border-right:0 none;
	width:220px;
	text-decoration:none;
	background-color:#FEEED1;
	color: #000; height:24px;
}

.isohas .alt_container, .container_madde:hover .alt_container {z-index:1;visibility:visible;}
.kutu5{ width:146px; background-color:#FEEED1; border-right: #FF9900 solid 1px; text-align:right; padding:0px 5px 0 0; float:left; height:126px; font-weight:bold;}
.kutu4{ width:146px; background-color:#FEEED1; border-right: #FF9900 solid 1px; text-align:right; padding:0px 5px 0 0; float:left; height:101px; font-weight:bold;}
.kutu3{ width:146px; background-color:#FEEED1; border-right: #FF9900 solid 1px; text-align:right; padding:0px 5px 0 0; float:left; height:76px; font-weight:bold;}
.kutu2{ width:146px; background-color:#FEEED1; border-right: #FF9900 solid 1px; text-align:right; padding:0px 5px 0 0; float:left; height:51px; font-weight:bold;}
.kutu1{ width:146px; background-color:#FEEED1; border-right: #FF9900 solid 1px; text-align:right; padding:0px 5px 0 0; float:left; height:26px; font-weight:bold;}
.kutuic{ width:510px;float:left; border-bottom:#FF9900 solid 1px;}
.kutuicison{ width:510px;float:left;}
