#ContentWrapper {
height:440px;
margin-top:138px;
}

#ContentWrapper .vsplitbar {
background:#405779 url(/Content/images/vgrabber.gif) no-repeat center;
background-image:url('/content/ribbonimages/bgRibbon.png');
background-position:top;
background-repeat:repeat-x;
width:3px;
z-index:-1;
}

#ContentWrapper .vsplitbar.active {
background:#405779 url(/Content/images/vgrabber.gif) no-repeat center;
opacity:0.7px;
}

#LeftPane {
background:#405779;
overflow:auto;
}

#RightPane {
background:#405779;
overflow-x:hidden;
overflow-y:scroll;
}

#simplemodal-overlay {
background-color:#000;
cursor:wait;
}

* {
outline:none;
}

.Asc {
background-image:url('/Content/Images/asc.gif');
}

.Button {
height:22px;
}

.Content {
float:left;
font-family:Calibri;
font-size:13px;
overflow-y:scroll;
position:relative;
width:100%;
}

.ContentTopSep {
background-color:#bcbcbc;
float:left;
height:2px;
width:100%;
}

.Desc {
background-image:url('/Content/Images/desc.gif');
}

.FileUpload {
background-color:#FFF;
border:1px solid #CCC;
font-family:Segoe UI, Tahoma;
font-size:12px;
padding:2px;
width:300px;
}

.Order,.Asc,.Desc {
background-position:center center;
background-repeat:no-repeat;
float:right;
height:15px;
margin-left:5px;
margin-right:5px;
width:7px;
}

.PostButton,.Button {
background-color:#FFF;
background-image:url('/Content/RibbonImages/ribbon_background.png');
background-position:top;
background-repeat:repeat-x;
border:1px solid #CCC;
height:24px;
padding:2px 10px;
}

.PostButton:hover,.Button:hover {
background:#fdeeb3;
border:1px solid #f1c43f;
cursor:pointer;
padding:2px 10px;
}

.Row {
background-color:#FFF;
height:22px;
}

.Row:hover,.RowAlternate:hover {
background-color:#fdf1ba;
}

.RowAlternate {
background-color:#F7F7F7;
height:22px;
}

.RowAlternateActive {
background-color:#c2eafa;
height:22px;
}

.RowMark {
background-color:#f0f7ff;
}

.RowModel {
background-color:#f4fff0;
}

.RowSerie {
background-color:#fffdcc;
}

.Search {
border:none;
float:left;
}

.SelectedRow,.SelectedRow:hover {
background-color:#ffe8a6;
}

.SubmitBottom {
border-top:dashed 1px #DDD;
margin-top:5px;
padding-top:5px;
}

.SubmitPartial,.SubmitTop,.SubmitBottom {
height:30px;
text-align:right;
}

.SubmitTop {
border-bottom:dashed 1px #DDD;
margin-bottom:5px;
margin-top:5px;
}

.TableInnerList {
width:700px;
}

.TableInnerList .Cell,.CellTool {
border-right:solid 1px #d5d5d5;
padding:2px;
}

.TableInnerList .CellTool,.HeaderTool {
border-right:none;
}

.TableInnerList .Header,.HeaderTool {
background-color:#dfe3e8;
background-image:url( '/Content/Images/header.png' );
border-bottom:1px solid #d5d5d5;
border-right:solid 1px #d5d5d5;
height:20px;
padding-left:5px;
}

.TableInnerList .HeaderTool {
width:30px;
}

.TableList .Cell,.CellEnd,.CellBegin {
border-bottom:1px solid #ddd;
border-right:1px solid #ddd;
cursor:default;
padding:2px;
}

.TableList .CellBegin {
border-left:1px solid #ddd;
}

.TableList .CellEnd {
border-right:1px solid #ddd;
}

.TableList .Footer {
background-color:#EEE;
border-right:none;
cursor:default;
padding:4px;
}

.TableList .Header,.HeaderEnd,.HeaderBegin,.HeaderDown,.HeaderDownEnd,.Footer {
background-color:#f2f3f5;
background-image:url('/Content/Images/header.png');
background-repeat:repeat-x;
border-bottom:1px solid #ddd;
border-right:1px solid #ddd;
border-top:solid 1px #ddd;
cursor:pointer;
height:20px;
text-align:left;
}

.TableList .Header:hover,.HeaderDownEnd:hover,.HeaderDown:hover,.HeaderEnd:hover,.HeaderBegin:hover {
background-color:#d9edf6;
background-image:url('/Content/Images/headerDown.png');
background-position:top;
background-repeat:repeat-x;
}

.TableList .HeaderBegin {
border-left:solid 1px #ddd;
}

.TableList .HeaderDown,.HeaderDownEnd {
background-color:#b8e8fc;
background-image:url('/Content/Images/headerHover.png');
}

.TableList .HeaderEnd,.HeaderDownEnd {
border-right:solid 1px #ddd;
}

.TitleBand {
background-color:#E5E9ED;
border:solid 1px silver;
float:left;
font-style:italic;
height:15px;
margin:5px 0 0;
padding:5px;
width:99%;
}

.bottom {
background-image:url('/content/images/w_bottom.png');
background-repeat:repeat-x;
}

.bottomleft {
background-image:url('/content/images/w_bottomleft.png');
}

.bottomright {
background-image:url('/content/images/w_bottomright.png');
}

.cellTop {
border-top:1px solid #ddd;
}

.currentpage {
background-color:#FFF;
border:1px solid #DDD;
cursor:default;
font-weight:700;
padding:1px 5px;
}

.field-validation-error,pre.listing b {
color:red;
}

.field-validation-valid,.validation-summary-valid {
display:none;
}

.input-validation-error {
background-color:#fee;
border:1px solid red;
}

.left {
background-image:url('/content/images/w_left.png');
background-repeat:repeat-y;
}

.leftMenu {
background-color:#FFF;
height:100%;
list-style:none;
margin:0 auto 0 5px;
padding:5px;
}

.leftMenu a {
display:inline-block;
line-height:17px;
outline:none;
width:100%;
}

.leftMenu a:hover {
color:#000;
text-decoration:none;
}

.leftMenu li {
border:1px solid transparent;
cursor:pointer;
line-height:20px;
padding:2px;
}

.leftMenu li:hover {
background-color:#fffbf0;
background-image:url('/content/images/bgMenu.png');
background-position:bottom;
background-repeat:repeat-x;
border:1px solid #e5c365;
}

.listTitle {
background-color:#f5f5f5;
background-image:url('/content/ribbonimages/bgRibbon.png');
color:#FFF;
float:left;
height:18px;
padding:8px 4px 4px;
width:100%;
}

.loadingContent {
float:left;
height:20px;
left:36%;
padding-left:0.7em;
padding-right:0.7em;
padding-top:5px;
position:absolute;
top:20px;
width:280px;
}

.pagination {
padding:2px;
}

.pagination a {
text-decoration:none;
}

.pagination a,.pagination a:visited {
border:1px solid #DDD;
color:#2e6ab1;
padding:1px 5px;
text-decoration:none;
}

.pagination a.disablelink,.pagination a.disablelink:hover {
background-color:#FFF;
border-color:#929292;
color:#929292;
cursor:default;
font-weight:400 !important;
}

.pagination a.prevnext {
border:none;
font-weight:400;
}

.pagination a:hover,.pagination a:active {
background-color:#fdeeb3;
border:1px solid #f1c43f;
color:#000;
cursor:pointer;
text-decoration:none;
}

.pagination li {
display:inline;
list-style-type:none;
margin:0;
padding-bottom:0;
}

.pagination ul {
margin:0;
padding:0;
text-align:left;
}

.ribbonWindow {
background-color:#344664;
background-image:url('/content/images/exMiddle.png');
background-repeat:repeat-x;
border:1px solid #FFF;
float:left;
position:relative;
width:712px;
}

.ribbonWindowContent {
background-color:#F5f5f5;
float:left;
height:400px;
margin:0 5px 5px;
overflow-y:scroll;
padding:10px;
width:681px;
}

.ribbonWindowTitle {
color:#FFF;
display:inline-block;
left:40%;
position:absolute;
right:50%;
text-align:center;
top:3px;
width:120px;
}

.right {
background-image:url('/content/images/w_right.png');
background-repeat:repeat-y;
}

.searchClear {
cursor:pointer;
float:right;
margin-top:2px;
}

.tableInput {
background:#eee;
}

.tableLabel,.tableInput {
background:#fff;
border-bottom:1px solid #ddd;
}

.tform,.top,.bottom,.topleft,.topright,.bottomleft,.bottomright {
height:11px;
}

.tformCorner,.topleft,.topright,.bottomleft,.bottomright,.left,.right {
background-repeat:no-repeat;
width:11px;
}

.top {
background-image:url('/content/images/w_top.png');
background-repeat:repeat-x;
}

.topleft {
background-image:url('/content/images/w_topleft.png');
}

.topright {
background-image:url('/content/images/w_topright.png');
}

.validation-summary-errors {
color:red;
font-weight:700;
}

body {
background-repeat:no-repeat;
font-family:'Segoe UI' , 'Arial';
font-size:11px;
margin:0;
overflow-x:hidden;
overflow-y:hidden;
padding:0;
}

input,textarea,select {
font-family:Segoe UI, Tahoma;
font-size:12px;
text-decoration:none;
}

input[type="password"] {
border:1px solid #CCC;
height:16px;
padding:2px;
width:170px;
}

input[type="text"],textarea {
border:solid 1px #DDD;
height:16px;
padding:2px;
}

pre.listing {
background:#eee;
border:1px solid #ccc;
margin:.3em auto;
padding:.1em .3em;
width:90%;
}

table.tree {
border-collapse:collapse;
line-height:1;
width:100%;
}

table.tree span {
background-position:center left;
background-repeat:no-repeat;
padding:.2em 0 .2em 1.5em;
}

table.tree span.file {
background-image:url(../images/page_white_text.png);
}

table.tree span.folder {
background-image:url(../images/folder.png);
}

table.tree tbody tr td {
cursor:default;
padding:.3em 1.5em;
}

table.tree tbody tr.even,table.ui-widget tbody tr.even {
background:#f3f3f3;
}

table.tree tbody tr.odd,table.ui-widget tbody tr.odd {
background:#fff;
}

table.tree thead {
font-size:.9em;
}

table.tree thead tr th {
border-bottom:solid 1px #EEE;
font-size:11px;
font-weight:700;
padding:.3em 1.67em 7px;
text-align:left;
}

table.ui-widget tbody.ui-widget-content {
border-bottom:solid 1px #DDD;
height:10px;
}

table.ui-widget tbody.ui-widget-content td {
border-bottom:solid 1px #DDD;
}

table.ui-widget thead.ui-state-hover th {
border-bottom:solid 1px #DDD;
font-size:11px;
font-weight:700;
padding:.3em 1.67em 7px;
text-align:left;
}

textarea {
height:60px;
width:400px;
}