@model dynamic

@section HeaderContent {



}


  <div style="margin: 10px; margin-bottom: 0px; float: left;">
    <span style="font-size: 14px; font-weight: bold;">İşlem Durumu : </span><span style="font-size: 13px;
      font-weight: bold;">
      @ViewData["text"]</span>
  </div>


