@model NeoSistem.MakinaTurkiye.Web.Models.Catalog.MTCategoryProductViewModel
@using NeoSistem.MakinaTurkiye.Core.Web.Helpers
@{
    //@using NeoSistem.MakinaTurkiye.Web.Helpers
    //@using NeoSistem.MakinaTurkiye.Core.Web.Helpers
    //using NeoSistem.MakinaTurkiye.Web.Models
    //using MakinaTurkiye.Core
    //int activeCategoryId = Convert.ToInt32(Request.QueryString["CategoryId"]);

    //  int categoryListIndex = 1;
    NeoSistem.MakinaTurkiye.Web.Models.Entities.MakinaTurkiyeEntities entities = new NeoSistem.MakinaTurkiye.Web.Models.Entities.MakinaTurkiyeEntities();
    int buttonIndex = 1;
}

<div class="col-xs-12">

    <div class="sector-category-nav hidden-xs hidden-sm hidden-md">

        @foreach (var i in Model.ParentCategoryItems.ToList())
        {
            var parname = (from c in entities.Categories
                           where c.CategoryParentId == i.CategoryId
                           select c).FirstOrDefault();
            if (i.ProductCount > 0)
            {
                if (i.ProductCount != 0)
                {
                    <div class="sector-category-nav__item @Helpers.ToUrl(i.CategoryName)" data-role="@("anchor-"+Helpers.ToUrl(i.CategoryName))"><a href="javascript:;">@i.CategoryName</a></div>

                }
                buttonIndex = buttonIndex + 1;
            }

        }
    </div>

    <div class="sector-category-nav-scroll-fix"></div>


</div>


