@model NeoSistem.MakinaTurkiye.Web.Models.Catalog.MTCategoryProductViewModel
@using NeoSistem.MakinaTurkiye.Web.Models
@using NeoSistem.MakinaTurkiye.Web.Models.UtilityModel
@using NeoSistem.MakinaTurkiye.Core.Web.Helpers

@{

    //using NeoSistem.MakinaTurkiye.Web.Models
    //using NeoSistem.MakinaTurkiye.Web.Models.UtilityModel
}

<div class="col-sm-5 col-md-4 col-lg-3">
    <div class="panel panel-mt2 left-menu">

        <nav>
            <ul class="list-group list-group-mt" role="menubar">

                @foreach (var parentCategoryItem in Model.ParentCategoryItems.OrderBy(c => c.CategoryOrder).ThenBy(c => c.CategoryName))
                {
                    string paretntUrl = "/" + Helpers.ToUrl(parentCategoryItem.CategoryName) + "-c-" + parentCategoryItem.CategoryId;

                    if (parentCategoryItem.ProductCount != 0)
                    {
                    <li class="list-group-item" role="menuitem"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;
                    <a href="@paretntUrl" class="text-bold">
                    @parentCategoryItem.CategoryName
        <span class="text-muted text-sm">(@parentCategoryItem.ProductCount)</span>
    </a></li>

     }
    }
    
</ul>

</nav>
</div>
</div>
