@model FilterModel<MakinaTurkiye.Entities.Tables.Common.UrlRedirect>

@section TitleContent {

    Url Yönlendirmeler

}


        <div class="ui-state-highlight ui-corner-all loadingContent ui-helper-hidden" style="margin-top: 200px; border-width: 5px;"
        id="preLoading">
        <span style="float: left; margin-right: 0.3em" class="ui-icon ui-icon-info"></span>
        <strong>Yükleniyor.</strong> Lütfen bekleyiniz...
    </div>
    <div style="width: 100%; margin: 0 auto;">
        <table cellpadding="5" cellspacing="0" class="TableList" style="width: 100%; margin-top: 5px">
            <thead>
                <tr>
                    <td class="Header">#</td>
                    <td class="Header" style="width: 35%;">Eski Url</td>
                    <td class="Header" style="width: 35%;">Yeni Url</td>
                    <td class="Header" style="width: 5%;">Tarih</td>
                    <td class="Header HeaderEnd" style="width:15%;">Araçlar
                        <a href="/UrlRedirect/Create" style="float: right;" id="lightbox_click" rel="superbox[iframe][750x600]" title="Ödemeleri Gör" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" style="float: right;" aria-disabled="false"><span class="ui-button-text">Yeni Ekle</span></a>
                    </td>
                </tr>
            </thead>
            <tbody id="table">
                @Html.Partial("_UrlRedirectList", Model)
            </tbody>
        </table>
    </div>


@section HeadContent {

    <script type="text/javascript">
        function DeletePost(descId) {
            if (confirm('Kaydı Silmek istediğinizden eminmisiniz ?')) {
                $.ajax({
                    url: '/UrlRedirect/Delete',
                    data: { id: descId },
                    type: 'post',
                    dataType: 'json',
                    success: function (data) {
                        if (data) {
                            $('#row' + descId).hide();
                        }

                    }
                });
            }


        }
        function PagingPost(p) {
            $('#preLoading').show();
            $.ajax({
                url: '/UrlRedirect/Index',
                data: {
                    page: p
                },
                type: 'post',
                success: function (data) {
                    $('#table').html(data);
                    $('#preLoading').hide();
                },
                error: function (x, a, r) {
                    $('#preLoading').hide();
                }
            });
        }
    </script>
    @*<link rel="stylesheet" href="/Scripts/SuperBox/jquery.superbox.css" type="text/css" media="all" />*@
    <script type="text/javascript" src="/Scripts/SuperBox/jquery.superbox-1.js"></script>
    <script type="text/javascript">
        $(function () {
            $.superbox.settings = {
                closeTxt: "Kapat",
                loadTxt: "Yükleniyor...",
                nextTxt: "Sonraki",
                prevTxt: "Önceki"
            };
            $.superbox();
        });
    </script>
    <style type="text/css">
        /* Custom Theme */
        #superbox-overlay { background: #e0e4cc; }

        #superbox-container .loading { width: 32px; height: 32px; margin: 0 auto; text-indent: -9999px; background: url(styles/loader.gif) no-repeat 0 0; }

        #superbox .close a { float: right; padding: 0 5px; line-height: 20px; background: #333; cursor: pointer; }

            #superbox .close a span { color: #fff; }

        #superbox .nextprev a { float: left; margin-right: 5px; padding: 0 5px; line-height: 20px; background: #333; cursor: pointer; color: #fff; }

        #superbox .nextprev .disabled { background: #ccc; cursor: default; }
    </style>


}


