<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BulkImageResizeTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <connectionStrings>
    <!--<add name="MTEntities" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=213.128.75.68;initial Catalog=MT;user id=MakinaTurkiyeUser;password=MakinaTurkiyeUserPass;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="MTEntities" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=213.128.75.68;initial Catalog=MT;user id=MakinaTurkiyeUser;password=MakinaTurkiyeUserPass;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>

    <!--<add name="MTEntities" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=213.128.75.68;initial catalog=MTdev;persist security info=True;user id=tester;password=mt2014!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <userSettings>
    <BulkImageResizeTool.Properties.Settings>
      <setting name="OldImagePath" serializeAs="String">
        <value>C:\inetpub\vhosts\makinaturkiye.com\httpdocs\UserFiles\Images\Product\</value>
      </setting>
      <setting name="ThumbSizes" serializeAs="String">
        <value>900x675;400x300;100x75;100x*</value>
      </setting>
      <!--<setting name="MainImagePath" serializeAs="String">
        <value>C:\inetpub\wwwroot\testImages\</value>
      </setting>-->
      <setting name="MainImagePath" serializeAs="String">
        <value>C:\inetpub\vhosts\makinaturkiye.com\httpdocs\UserFiles\</value>
      </setting>
      <setting name="OldStoreLogoImagePath" serializeAs="String">
        <value>C:\inetpub\vhosts\makinaturkiye.com\httpdocs\UserFiles\Images\StoreLogo\</value>
      </setting>
      <setting name="OldStoreProfileImagePath" serializeAs="String">
        <value>C:\inetpub\vhosts\makinaturkiye.com\httpdocs\UserFiles\Images\StoreProfilePicture\</value>
      </setting>
      <setting name="StoreLogoThumbSizes" serializeAs="String">
        <value>300x200;100x100</value>
      </setting>
    </BulkImageResizeTool.Properties.Settings>
  </userSettings>
</configuration>