
@{
    ViewBag.Title = "HataSayfasi";
    Layout = "~/Views/Shared/_LayoutMainMaster.cshtml";
}


@section headercontent{

    <!-- #region HeaderContent -->
    <!-- #endregion -->
}

<script type="text/javascript">gtag('event', '404');</script>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>
                <span class="text-warning glyphicon glyphicon-warning-sign"></span>Sayfa Bulunamadı
            </h3>
            <div class="well">
                Sayfa kaldırılmış veya adres eksik girilmiş olabilir.
                <br>
                Lütfen adresi doğru yazdığınızdan emin olun.
                <br>
                Eğer Sık Kullanılanlar listesinden bu sayfaya yönlendirildiyseniz, <a href="/">
                    Makina
                    Türkiye Anasayfa
                </a> linkini kullanarak
                ulaşmaya çalışın.
                <br>
                Eğer bunun teknik bir sorun olduğunu düşünüyorsanız, sayfayı <a href="#">
                    Destek Masası
                </a>'na bildirin.
                <br>
            </div>
        </div>
    </div>
</div>