<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="MakinaTurkiyeConfig" type="MakinaTurkiye.Core.Configuration.MakinaTurkiyeConfig, MakinaTurkiye.Core" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add name="Cache Manager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
    </cacheManagers>
    <backingStores>
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="NullBackingStore" />
    </backingStores>
  </cachingConfiguration>
  <connectionStrings>
    <!--Canlı Veritabanı-->
    <add name="DatabaseConnString" connectionString="Data Source=77.92.151.138;Initial Catalog=MakinaTurkiye;User ID=sa;Password=m4k!n+3^05trk,3" providerName="System.Data.SqlClient" />
    <add name="MakinaTurkiyeEntities" connectionString="metadata=res://*/Models.Entities.MakinaTurkiyeEntities.csdl|res://*/Models.Entities.MakinaTurkiyeEntities.ssdl|res://*/Models.Entities.MakinaTurkiyeEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=77.92.151.138;initial catalog=MakinaTurkiye;user id=sa;password=m4k!n+3^05trk,3;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MakinaTurkiyeDatabaseConnString" connectionString="Data Source=77.92.151.138;Initial Catalog=MakinaTurkiye;User ID=sa;Password=m4k!n+3^05trk,3;MultipleActiveResultSets=True;Integrated Security=False;" providerName="System.Data.SqlClient" />
    
    
    
    <!--Canlı Veritabanı Son-->

    <!--Test Veritabanı-->
    <!--<add name="DatabaseConnString" connectionString="Data Source=77.92.151.138;Initial Catalog=MakinaTurkiyeAdminTest;User ID=makinaturkey;Password=m4k!n+3^05trk,3" providerName="System.Data.SqlClient" />
    <add name="MakinaTurkiyeEntities" connectionString="metadata=res://*/Models.Entities.MakinaTurkiyeEntities.csdl|res://*/Models.Entities.MakinaTurkiyeEntities.ssdl|res://*/Models.Entities.MakinaTurkiyeEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=77.92.151.138;Initial Catalog=MakinaTurkiyeAdminTest;user id=makinaturkey;password=m4k!n+3^05trk,3;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MakinaTurkiyeDatabaseConnString" connectionString="Data Source=77.92.151.138;Initial Catalog=MakinaTurkiyeAdminTest;User ID=makinaturkey;Password=m4k!n+3^05trk,3;MultipleActiveResultSets=True;Integrated Security=False;" providerName="System.Data.SqlClient" />-->
    <!--Test Veritabanı Son-->

    <!-- <add name="DatabaseConnString" connectionString="Data Source=31.207.87.3;Initial Catalog=makinaTest;User ID=makinaTest;Password=makinaTest..1qaz" providerName="System.Data.SqlClient" />
    <add name="MakinaTurkiyeEntities" connectionString="metadata=res://*/Models.Entities.MakinaTurkiyeEntities.csdl|res://*/Models.Entities.MakinaTurkiyeEntities.ssdl|res://*/Models.Entities.MakinaTurkiyeEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.207.87.3;initial catalog=makinaTest;user id=makinaTest;password=makinaTest..1qaz;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MakinaTurkiyeDatabaseConnString" connectionString="Data Source=31.207.87.3;Initial Catalog=makinaTest;User ID=makinaTest;Password=makinaTest..1qaz;MultipleActiveResultSets=True;Integrated Security=False;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="ElasticSearch:CreateAndUpdateIndexTime" value="10" />
    <add key="ElasticSearch:IpAdresListesi" value="127.0.0.1,localhost" />
    <add key="SaveAnyOtherFile" value="~/UserFiles/OtherFile/" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ImageFolder" value="~/Content/Images/" />
    <add key="ContentFolder" value="~/Content/" />
    <add key="ScriptFolder" value="~/Scripts/" />
    <add key="UserImageFolder" value="~/UserFiles/images/" />
    <add key="ProductThumbSizes" value="980x*;500x375;160x120;100x75;200x150;100x*" />
    <add key="CssFolder" value="~/Content/" />
    <add key="SecurityKey" value="NeoSistemAXD" />
    <add key="MakinaTurkiyeWebUrl" value="http://www.makinaturkiye.com" />
    <add key="MakinaTurkiyeAdminUrl" value="http://admin.makinaturkiye.com" />
    <add key="EnterpriseDataCacheTimeOut" value="2000" />
    <add key="Turkiye" value="246" />
    <add key="SiteUrl" value="http://www.makinaturkiye.com/" />
    <add key="İstanbul" value="34" />
    <add key="StoreDealerImageFolder" value="/UserFiles/Images/StoreDealerImage/" />
    <add key="DealerBrandImageFolder" value="/UserFiles/Images/DealerBrandImage/" />
    <add key="StoreBrandImageFolder" value="/UserFiles/Images/StoreBrandImage/" />
    <add key="StoreProfilePicture" value="/UserFiles/Images/StoreProfilePicture/" />
    <add key="CategoryIconImageFolder" value="/UserFiles/Images/CategoryIconImageFolder/" />
    <add key="CategoryHomePageImageFolder" value="/UserFiles/Images/CategoryHomePageImageFolder/" />
    <add key="NewsImageFolder" value="/UserFiles/Images/News/" />
    <add key="StoreLogoFolder" value="/UserFiles/Images/StoreLogo/" />
    <add key="StoreNewImageFolder" value="/UserFiles/StoreNewImage/" />
    <add key="StoreNewImageSize" value="300x300;600x350;100x100" />
    <add key="BaseMenuImageFolder" value="/UserFiles/BaseMenuImages/" />
    <add key="ProductImageFolder" value="/UserFiles/Product/" />

    <add key="CertificateTypeIconFolder" value="/UserFiles/CertificateTypeIconFolder/" />
    <!--<add key="StoreLogoThumb75x75Folder" value="/UserFiles/Images/StoreLogoThumb75x75/" />
    <add key="StoreLogoThumb150x90Folder" value="/UserFiles/Images/StoreLogoThumb150x90/" />
    <add key="StoreLogoThumb110x110Folder" value="/UserFiles/Images/StoreLogoThumb110x110/" />
    <add key="StoreLogoThumb55x40Folder" value="/UserFiles/Images/StoreLogoThumb55x40/" />
    <add key="StoreLogoThumb170x90Folder" value="/UserFiles/Images/StoreLogoThumb170x90/" />
    <add key="StoreLogoThumb200x100Folder" value="/UserFiles/Images/StoreLogoThumb200x120/" />-->
    <add key="StoreLogoThumb100x100Folder" value="/UserFiles/Images/StoreLogoThumb100x100/" />
    <add key="StoreLogoThumb300x200Folder" value="/UserFiles/Images/StoreLogoThumb300x200/" />
    <add key="ResizeStoreLogoFolder" value="/UserFiles/Store/" />
    <add key="StoreLogoThumbSizes" value="300x200;100x100;120x80" />
    <add key="ProductImageThumb55x40Folder" value="/UserFiles/Images/ProductThumb55x40/" />
    <add key="ProductImageThumb240x160Folder" value="/UserFiles/Images/ProductThumb240x160/" />
    <add key="ProductImageThumb800x600Folder" value="/UserFiles/Images/ProductThumb800x600/" />
    <add key="ProductImageThumb75x75Folder" value="/UserFiles/Images/ProductThumb75x75/" />
    <add key="ProductImageThumb120x120Folder" value="/UserFiles/Images/ProductThumb120x120/" />
    <add key="ffmpegFolder" value="/Content/ffmpeg/" />
    <add key="TempFolder" value="/UserFiles/Temp/" />
    <add key="VideoFolder" value="/UserFiles/Video/" />
    <add key="NewVideosFolder" value="/UserFiles/NewVideos/" />
    <add key="VideoThumbnailFolder" value="/UserFiles/VideoThumb/" />
    <add key="BannerImagesFolder" value="/UserFiles/Banner/Images/" />
    <add key="CategoryBannerImagesFolder" value="/UserFiles/Banner/CategoryImages/" />
    <add key="BannerImagesThumbFolder" value="/UserFiles/Banner/ImagesThumb/" />
    <add key="BannerGifFolder" value="/UserFiles/Banner/Gif/" />
    <add key="BannerFlashFolder" value="/UserFiles/Banner/Flash/" />
    <add key="SmtpServer" value="216.172.165.116" />
    <add key="SmtpUserName" value="info@makinaturkiyemail.com" />
    <add key="SmtpUserPassword" value="1234" />
    <add key="SmtpPort" value="26" />
    <add key="MailAddress" value="info@makinaturkiyemail.com" />
    <add key="MailName" value="Makinaturkiye.com" />

	<add key="Mail-DisplayName" value="makinaturkiye.com" />
	<add key="Mail-Host" value="smtp.gmail.com" />
	<add key="Mail-UserName" value="makinaturkiye@makinaturkiye.com" />
	<add key="Mail-Password" value="haciosman7777" />
	<add key="Mail-Ssl" value="true" />
	<add key="Mail-Port" value="587" />
    <add key="CallCenter-Token" value="26ee1917a700b949b60e861fa92ea9f7" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="tr-TR" />
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral,              PublicKeyToken=cc7b13ffcd2ddd51" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <sessionState timeout="2880" />
    <customErrors mode="Off" defaultRedirect="/Shared/Error" />
    <httpRuntime maxQueryStringLength="2048" maxRequestLength="102400" executionTimeout="3600" requestValidationMode="2.0" requestPathInvalidCharacters="*,:,&amp;,\" relaxedUrlToFileSystemMapping="true" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.ComponentModel" />
        <add namespace="NeoSistem.MakinaTurkiye" />
        <add namespace="NeoSistem.MakinaTurkiye.Management" />
        <add namespace="NeoSistem.MakinaTurkiye.Management.Models" />
        <add namespace="NeoSistem.MakinaTurkiye.Management.Helper" />
        <add namespace="MakinaTurkiye.Core" />
        <add namespace="NeoSistem.MakinaTurkiye.Core" />
        <add namespace="NeoSistem.MakinaTurkiye.Core.Web" />
        <add namespace="NeoSistem.MakinaTurkiye.Core.Web.Helpers" />
        <add namespace="NeoSistem.EnterpriseEntity.Extensions" />
        <add namespace="NeoSistem.EnterpriseEntity.Extensions.Data" />
        <add namespace="NeoSistem.MakinaTurkiye.Cache" />
        <add namespace="NeoSistem.MakinaTurkiye.Management.Models.Entities" />
        <add namespace="NeoSistem.MakinaTurkiye.Management.Models.Videos" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
    <httpHandlers>
      <add verb="*" path="image.axd" type="NeoSistem.MakinaTurkiye.Core.Web.HttpHandlers.ImageHandler, NeoSistem.MakinaTurkiye.Core" validate="false" />
      <add verb="*" path="cimage.axd" type="NeoSistem.MakinaTurkiye.Core.Web.HttpHandlers.CacheImageHandler, NeoSistem.MakinaTurkiye.Core" validate="false" />
      <add verb="*" path="timage.axd" type="NeoSistem.MakinaTurkiye.Core.Web.HttpHandlers.ThumbnailHandler, NeoSistem.MakinaTurkiye.Core" validate="false" />
      <add verb="*" path="nscss.axd" type="NeoSistem.MakinaTurkiye.Core.Web.HttpHandlers.CssHandler, NeoSistem.MakinaTurkiye.Core" validate="false" />
      <add verb="*" path="NSResource.axd" type="NeoSistem.MakinaTurkiye.Core.Web.HttpHandlers.JavaScriptHandler, NeoSistem.MakinaTurkiye.Core" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <!--<add name="CompressionModule" type="NeoSistem.MakinaTurkiye.Core.Web.HttpModules.CompressionModule, NeoSistem.MakinaTurkiye.Core" />-->
    </modules>
    <handlers accessPolicy="Read, Write, Script, Execute">
      <add name="ImageHandler" verb="*" path="image.axd" type="NeoSistem.MakinaTurkiye.Core.Web.HttpHandlers.ImageHandler, NeoSistem.MakinaTurkiye.Core" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
      <add name="ThumbnailHandler" verb="*" path="timage.axd" type="NeoSistem.MakinaTurkiye.Core.Web.HttpHandlers.ThumbnailHandler, NeoSistem.MakinaTurkiye.Core" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
      <add name="CacheImageHandler" verb="*" path="cimage.axd" type="NeoSistem.MakinaTurkiye.Core.Web.HttpHandlers.ThumbnailHandler, NeoSistem.MakinaTurkiye.Core" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
      <add name="CssHandler" verb="*" path="nscss.axd" type="NeoSistem.MakinaTurkiye.Core.Web.HttpHandlers.CssHandler, NeoSistem.MakinaTurkiye.Core" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
      <add name="Javascript" path="NSResource.axd" verb="*" type="NeoSistem.MakinaTurkiye.Core.Web.HttpHandlers.JavaScriptHandler, NeoSistem.MakinaTurkiye.Core" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FluentValidation" publicKeyToken="a82054b837897c66" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.414.0" newVersion="2.0.414.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.414.0" newVersion="2.0.414.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.246" newVersion="1.2.0.246" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.5.0" newVersion="5.11.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.3.0" newVersion="5.11.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="J2N" publicKeyToken="f39447d697a969af" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StackExchange.Redis.StrongName" publicKeyToken="c219ff1ca8c2ce46" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.7.0" newVersion="1.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options.ConfigurationExtensions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Elasticsearch.Net" publicKeyToken="96c599bbe3e70f5d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <MakinaTurkiyeConfig>
    <Caching Enabled="True" AllOperationEnabled="True" GetOperationEnabled="False" SetOperationEnabled="False" RemoveOperationEnabled="True" />
    <RedisCaching Enabled="true" ConnectionString="localhost" />
    <Application TestModeEnabled="True" StartingTasksEnabled="False" />
    <EntityFramework LazyLoadingEnabled="True" ProxyCreationEnabled="True" AutoDetectChangesEnabled="True" ValidateOnSaveEnabled="True" />
  </MakinaTurkiyeConfig>
</configuration>