@model NeoSistem.MakinaTurkiye.Management.Models.PreRegistrations.PreRegistrainFormModel

@section TitleContent {

    Firma Ön Kayıt

}
@section HeadContent {

    <script type="text/javascript" src="~/Content/Scripts/CKEditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/CKFinder/ckfinder.js"></script>




}

     @if (TempData["error"] != null)
        {
        <p style="font-size:15px;">@TempData["error"].ToString()</p>
        } 
    @if (TempData["success"] != null)
        {
    <p style="font-size:15px;">Firma Eklenmiştir</p>
    } 
    @using (Html.BeginForm("Edit", "PreRegistrationStore", FormMethod.Post))
        { 
    @Html.HiddenFor(x=>x.Id)
    @Html.Partial("_FormModel", Model) 
    } 



