@model NeoSistem.Trinnk.Web.Models.Statistics.MTStoreStatisticViewModel
@using NeoSistem.Trinnk.Web.Areas.Account.Models
@using NeoSistem.Trinnk.Web.Models

@using NeoSistem.Trinnk.Core.Web.Helpers
@using NeoSistem.Trinnk.Web.Helpers
@using System.Diagnostics
@using NeoSistem.Trinnk.Web.Models.Home
@using NeoSistem.Trinnk.Web.Models.MemberShip
@using NeoSistem.Trinnk.Web.Models.Authentication
@using Trinnk.Entities.Tables.Members
@using NeoSistem.Trinnk.Web.Models.ViewModels
@using NeoSistem.Trinnk.Web.Models.Products
@using NeoSistem.Trinnk.Web.Models.Catalog
@using NeoSistem.Trinnk.Web.Models.Entities
@using NeoSistem.Trinnk.Web.Models.ProductRequests
@using NeoSistem.Trinnk.Web.Models.Stores
@using NeoSistem.Trinnk.Core.Web
@using NeoSistem.Trinnk.Web.Models.StoreNews
@using System.Globalization
@using NeoSistem.Trinnk.Web.Models.StoreProfiles
@using NeoSistem.Trinnk.Web.Models.Videos
@using NeoSistem.Trinnk.Web.Models.Adverts
@using Trinnk.Entities.Tables.Catalog
@using NeoSistem.Trinnk.Web.Areas.Account.Models.Advert
@using NeoSistem.Trinnk.Web.Areas.Account.Models.FavoriteProducts
@using NeoSistem.Trinnk.Web.Areas.Account.Models.Checkouts
@using NeoSistem.Trinnk.Web.Areas.Account.Models.OtherSettings
@using NeoSistem.Trinnk.Web.Areas.Account.Constants

@{
    Layout = "~/Views/Shared/_LayoutAccountMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutMainMaster.cshtml";
    //Layout = "~/Views/Shared/_LayoutStoreProfileMaster.cshtml";


}

@section headercontent{
    <script type="text/javascript" src="../../../../Content/V2/assets/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="../../../../Content/V2/assets/js/bootstrap-datepicker.tr.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $('.date').datepicker({
                format: 'dd/mm/yyyy',
                language: 'tr',
                todayHighlight: true
            });

            $('#endDate').change(function () {

                $(".loading").show();

                $.ajax({
                    url: '/Account/Statistic/GetStoreStatistic',
                    type: 'get',
                    data: { startDate: $("#startDate").val(), endDate: $("#endDate").val() },
                    success: function (data) {
                        $("#data").html(data);
                        $(".loading").hide();
                    }
                });
            });
        });
    </script>
}

<div class="row">
    <div class="col-sm-12 col-md-12 store-panel-menu-header" style="margin-top: -20px; height: 60px;">
        @Html.Partial("LeftMenu", Model.LeftMenu)
    </div>
    <div class="col-md-12">
        <h4 class="mt0 text-info">
            <span class="text-primary glyphicon glyphicon-cog"></span>Firma İstatistikleri
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div>
            <div class="well" style="background-color: #fff!important;">
                <div class="alert alert-info">
                    <span class="glyphicon glyphicon-info-sign"></span>Makina Türkiye özel reklam seçenekleri
                    ile firmanızın görüntülenme sayısını arttırabilirsiniz. Detaylı bilgi için <a href="/reklam-y-141615">buraya </a>tıklayın.
                </div>

                <div class="row">


                    <div class="col-md-12">
                        <div style="float: right">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Başlangıç Tarihi</label>
                                    @Html.TextBox("startDate", "", new { @class = "mt-form-control date", @autocomplete = "off" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Bitiş Tarihi</label>
                                    @Html.TextBox("endDate", "", new { @class = "mt-form-control date", @autocomplete = "off" })

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="loading">Loading&#8230;</div>
                <div id="data">

                    @Html.Partial("_StoreStatisticCenter", Model)
                </div>


            </div>
        </div>
    </div>
</div>
